svg.background-element
  line.dark-line x1='0' x2='12%' y1='160' y2='160' 
  circle.gray-line cx='70%' cy='320' r='200' stroke-width='40' 
  circle.gray-line cx='1426' cy='107.5%' r='280' stroke-dasharray='1000' stroke-dashoffset='-72%' stroke-width='180' 