svg.background-container.scrolling-background
  line.darkest-line.ladder-line x1='100%' x2='100%' y1='130' y2='170' 
  text.ladder-text transform='rotate(-180 0, 260)' x='-100%' y='250'  it company
  line.darkest-line.ladder-line x1='100%' x2='100%' y1='300' y2='580' 
  text.ladder-text transform='rotate(-180 0, 766)' x='-100%' y='836'  scrolldown
  line.darkest-line.ladder-line x1='100%' x2='100%' y1='718' y2='892' 
  line.dark-line.ladder-line x1='100%' x2='100%' y1='1135' y2='100%'