svg.background-element
  line.dark-line x1='386' x2='386' y1='0' y2='100%' 
  line.dark-line x1='670' x2='670' y1='0' y2='100%' 
  line.dark-line x1='0' x2='670' y1='78%' y2='78%' 
  circle.gray-line cx='74%' cy='30%' r='60' stroke-width='15' 
  circle.gray-line cx='82%' cy='50%' r='30' stroke-width='5' 