svg.background-element
  foreignobject.background-element
    svg.background-element.reverse-background
      line.dark-line x1='190' x2='190' y1='5%' y2='100%' 
      line.dark-line x1='156' x2='156' y1='100%' y2='86%' 
      line.dark-line x1='190' x2='52%' y1='89%' y2='89%'
      line.dark-line x1='100%' x2='89%' y1='89%' y2='89%' 
      circle.dark-line cx='1000' cy='54%' r='1007' stroke='black' stroke-dasharray='2500' stroke-dashoffset='-100%' 
      //line.dark-line x1='47%' x2='47%' y1='32.5%' y2='47%'
  circle.white-line cx='72%' cy='19%' r='170' stroke-width='40' 