
.icon-github-circle:before { content: '\e801'; } /* '' */
.icon-instagram-circle:before { content: '\e802'; } /* '' */
.icon-twitter-circle:before { content: '\e803'; } /* '' */
.icon-facebook-circled:before { content: '\f30d'; } /* '' */
.icon-linkedin-circled:before { content: '\f319'; } /* '' */