<div class="container">
  <div class="row">
    <%= image_tag 'blog/logo', class: 'blog-logo' %>
    <%= form_tag(root_url(subdomain: 'blog'), method: :get, class: 'blog-search-container')  do %>
      <%= submit_tag '', name: nil, class: 'blog-search-icon-image' %>
      <%= text_field_tag :query, params[:query], class: 'blog-search', placeholder: 'SEARCH' %>
    <% end %>
  </div>
</div>