| This website uses cookies for analytics, personalization and advertising. 
= link_to '&nbsp;Click here to learn more&nbsp;'.html_safe , privacy_policy_path
| or change your coockie settings.
.cookies_button
  button#accept_cookies_button.close-button onclick="acceptCookies()" ACCEPT
