= tag :meta, property: "twitter:card", content: @meta_tags[:twitter_card]
= tag :meta, property: "twitter:description", content: @meta_tags[:twitter_description]
= tag :meta, property: "twitter:title", content: @meta_tags[:twitter_title]
= tag :meta, property: "twitter:image", content: @meta_tags[:twitter_image]
= tag :meta, property: "og:locale", content: @meta_tags[:og_locale]
= tag :meta, property: "og:title", content: @meta_tags[:og_title]
= tag :meta, property: "og:type", content: @meta_tags[:og_type]
= tag :meta, property: "og:description", content: @meta_tags[:og_description]
= tag :meta, property: "og:url", content: @meta_tags[:og_url]
= tag :meta, property: "og:site_name", content: @meta_tags[:og_site_name]
= tag :meta, property: "og:image", content: @meta_tags[:og_image]