<section id="aboutUs" class="with-background with-scrolling">
  <%= scrolling_button offset_top: '516px;', background: "#2d2d2d", border_color: '#606060' do %>
    <%= image_tag("scrolling/mouse.png") %>
  <% end %>

  <div class="about-us container-fluid frontout">
    <%= image_tag("header/logo.png", class: 'logo', alt: 'MileStep') %>
    <%= image_tag("about-us/about_us_bg.png", class: 'background', alt: '') %>
    <div class='vertical-text-image'>IT COMPANY</div>
    <div class='about-us-title'>
      ABOUT US
    </div>
    <div class='milestep-description'>
      <p>Milestep is a full-cycle software company
        based on custom approach. As an
        experienced team which adhere to strict
        high standards, we go to considerable
        lengths to build the fine products
      </p>
    </div>
  </div>
</section>
