<section id="aboutUs" class="with-scrolling">
  <%= scrolling_button offset_top: '636px', background: "#2d2d2d" do %>
    <%= image_tag("mouse.png") %>
  <% end %>

  <div class="about-us container-fluid">
    <%= image_tag("header/logo.png", class: 'logo') %>
    <%= image_tag("about-us/about_us_bg.png", class: 'background') %>
    <div class='about-us-title'>
      ABOUT US
    </div>
    <div class='milestep-description'>
      <p>Milestep is a full-cycle software company
         based on custom approach. As an
         experienced team which adhere to strict
         high standards, we go to considerable
         lengths to build the fine products
      </p>
    </div>
  </div>
</section>
