<section id="aboutUs">
  <div class="about-us container-fluid">
    <%= image_tag("about-us/about_us_bg.png", class: 'background') %>
    <div class='vertical-text-scroll'>IT COMPANY</div>
    <div class='vertical-text-image'>IT COMPANY</div>
    <div class='about-us-title'>
      ABOUT US
    </div>
    <div class='milestep-description'>
      <p>Milestep is a full-cycle software company
         based on custom approach. As an
         experienced team which adhere to strict
         high standards, we go to considerable
         lengths to build the fine products
      </p>
    </div>
  </div>
</section>
