<section id="aboutUs">
  <div class="about">
    <div class="container">
      <h2>about us</h2>
      <div class="col-md-10">
        <h3>Why milestep?</h3>
        <p>Foremost, we're the team of web app developers, united by mutual ideas and interests. Our passion is Ruby, fundamental value is friendship relationship. Our web development agency success pillars are based on customized approach, contribution to the Rails framework and sharing our experience. 
        </p>
        <ul class="about-list">
          <li><i class="fa fa-check" aria-hidden="true"></i> More than 30 top-level web developers </li>
          <li><i class="fa fa-check" aria-hidden="true"></i> One of the top 15 in the list of IT companies in Ukraine (1-50empl.)</li>
          <li><i class="fa fa-check" aria-hidden="true"></i> Two weeks of trial codding </li>
          <li><i class="fa fa-check" aria-hidden="true"></i> More than 6 years experience in web development across a variety of industries. </li>
          <li><i class="fa fa-check" aria-hidden="true"></i> Team management solutions are key to keeping projects on track and workers on task </li>
          <li><i class="fa fa-check" aria-hidden="true"></i> Every one of our products runs fast, easily scalable and deployment process runs smoothly with no server interruptions </li>
          <li><i class="fa fa-check" aria-hidden="true"></i> We implement the best industry standards and practices, like SCRUM and Agile, depending on the project size and complexity. </li>
          <li><i class="fa fa-check" aria-hidden="true"></i>  By means of hourly wages you control payments for completed work</li>
          <li><i class="fa fa-check" aria-hidden="true"></i> We work using BBD model and have strong knowledge in Rspec and Cucumber. We use Continuous Integration tools such as: Travis CI, TeamCity, Jenkins CI.</li>
        </ul>
      </div>
      <div class="clearfix"></div>
      <div class="col-md-4 col-md-offset-4">
        <div class="button btn-about"><a href="#contact">contact us</a></div>
      </div>
    </div>
  </div>
</section>
