<footer class="with-background with-scrolling">
  <div class="section-background-container">
    <%= scrolling_button background: "#2d2d2d" do %>
      <span>07<span>
    <% end %>
  </div>

  <section id="contact">
    <div class="container">

      <div class="row text-top">
        <div class="col-md-5 my-text-left">
          <div class="vertical-line">
            <div class="first-text">GET TO KNOW</div>
            <div class="second-text">US BETTER</div>
          </div>
        </div>
        <div class="col-md-4 offset-3 my-text-right">
          <div class="top">
            <div class="text-web-and-app">
              <span class="text-web">Web</span>
              <span class="text-and">and</span>
              <span class="text-app">App</span>
            </div>
            <div class="text-development-services">
              Development Services
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-5">
          <div class="data-company">
            <div class="address">
              <p>42/1, Priportova St., Cherkasy, Ukraine</p>
              <p>62, European St., Uman, Ukraine</p>
            </div>

            <div class="phone-number">
              <p>+38 (097) 753 57 31</p>
            </div>

            <div class="mail">
              <p><a href="mailto:eugene@milestep.io">eugene@milestep.io</a></p>
            </div>
          </div>

          <div class="social-network">
            <a href='https://www.facebook.com/MileStepOutsoucing' target='_blank'>
              <span class="fa-stack fa-3x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x inside-icon"></i>
              </span>
            </a>

            <a href='https://github.com/milestep' target='_blank'>
              <span class="fa-stack fa-3x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x inside-icon"></i>
              </span>
            </a>

            <a href='https://www.linkedin.com/company/milestep' target='_blank'>
              <span class="fa-stack fa-3x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-linkedin fa-stack-1x inside-icon"></i>
              </span>
            </a>

            <a href='https://www.instagram.com/milestep.io' target='_blank'>
              <span class="fa-stack fa-3x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-instagram fa-stack-1x inside-icon"></i>
              </span>
            </a>

            <a href='https://twitter.com/milestepcompany' target='_blank'>
              <span class="fa-stack fa-3x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x inside-icon"></i>
              </span>
            </a>
          </div>
        </div>

        <div class="col-md-4 offset-3">
          <div class="form">
            <form id='message-form'>
              <div class="form-group">
                <input type="text" name="email" class="form-control" placeholder="Your Email" required />
              </div>
              <div class="form-group">
                <input type="text" name="message" class="form-control" placeholder="Your message" />
              </div>
              <div class="form-group">
                <button class="btn-contact" type="button" onclick='sendMessage()'>SEND MESSAGE</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <p class="copyright">Copyright © 2018 MileStep LLC. Privacy Policy</p>
        </div>
      </div>
    </div>
  </section>
</footer>
