footer
  section#contact
    .container.content
      .row.text-top
        .col-md-5.my-text-left
          .vertical-line
            .first-text
              | GET TO KNOW
            .second-text
              | US BETTER
        .col-md-4.offset-3.my-text-right
          .top
            .text-web-and-app
              span.text-web
                | Web
              span.text-and
                | and
              span.text-app
                | App
            .text-development-services
              |  Development Services 
      .row
        .col-md-5
          .data-company
            .address
              p
                | 42/1, Priportova St., Cherkasy, Ukraine
              p
                | 62, European St., Uman, Ukraine
            .phone-number
              p
                | +38 (097) 753 57 31
            .mail
              p
                a[href="mailto:eugene@milestep.io"]
                  | eugene@milestep.io
          .social-network
            a[href="https://www.facebook.com/MileStepOutsoucing" target="_blank"]
              span.fa-stack.fa-3x
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-facebook.fa-stack-1x.inside-icon
            a[href="https://github.com/milestep" target="_blank"]
              span.fa-stack.fa-3x
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-github.fa-stack-1x.inside-icon
            a[href="https://www.linkedin.com/company/milestep" target="_blank"]
              span.fa-stack.fa-3x
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-linkedin.fa-stack-1x.inside-icon
            a[href="https://www.instagram.com/milestep.io" target="_blank"]
              span.fa-stack.fa-3x
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-instagram.fa-stack-1x.inside-icon
            a[href="https://twitter.com/milestepcompany" target="_blank"]
              span.fa-stack.fa-3x
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-twitter.fa-stack-1x.inside-icon
        .col-md-4.offset-3
          .form
            form#message-form
              .form-group
                input.form-control[type="text" name="email" placeholder="Your Email" required]
              .form-group
                input.form-control[type="text" name="message" placeholder="Your message"]
              .form-group
                button.btn-contact[type="button" onclick="sendMessage()"]
                  | SEND MESSAGE
      .row
        .col-md-12
          p.copyright
            | Copyright © 2018 MileStep LLC. Privacy Policy
