<section id="header">
  <div class='navigation-panel'>
    <button class='burger-button' id='header-burger-button container'  onclick='burgerAction()'>
      <%= image_tag("header/burger.png") %>
    </button>
    <button class='contact-us-button burger-hidable container' onclick='scroller("contact")'> CONTACT US </button>
    <div class='menu-container burger-hidable container' style='display: none;'>
      <%= image_tag("header/menu.png") %>
    </div>
    <div class='nav-links burger-hidable' style='display: none;'>
      <p onclick='scroller("header")'>Home</p>
      <p onclick='scroller("services")'>Services</p> 
      <p onclick='scroller("how-we-work")'>How We Work</p>
      <p onclick='scroller("team")'>Team</p>
      <p onclick='scroller("why-us")'>Why Us</p>
      <p onclick='scroller("portfolio")'>Portfolio</p>
      <p onclick='scroller("contact")'>Contact Us</p>
    </div>
  </div>
</section>
