<header>
  <section id="header">
    <div id="header" class="container">
      <div class="col-md-2 col-xs-12">
        <div class="logo">
          <%= image_tag '320-132.png' %>
        </div>
      </div>
      <div id="menu" class="header-nav col-md-7 col-md-offset-3 col-xs-12 col-xs-offset-0">
        <a href="#" id="touch-menu" class="text-center">menu</a>
        <ul class="top_menu">
          <li><a href="#header" class="menu-item">home</a></li>
          <li><a href="#aboutUs" class="menu-item">about us</a></li>
          <li><a href="#skills" class="menu-item">skills</a></li>
          <li><a href="#services" class="menu-item">services</a></li>
          <li><a href="#portfolio" class="menu-item">portfolio</a></li>
          <li><a href="#team" class="menu-item">team</a></li>
          <li><a href="#contact" class="menu-item">contact</a></li>
        </ul>
      </div>
      <div class="welcome col-md-6 col-md-offset-3 col-xs-12 col-xs-offset-0">
        <h1>We create <span style="font-family:BebasBold;">awesome</span></h1>
        <h2>web and mobile applications</h2>
      </div>
      <div class="col-md-4 col-md-offset-4 col-xs-12 col-xs-offset-0">
        <div class="button btn-header animated fadeInUp wow animated" style="margin-left: 50px; margin-right: 50px;"><a href="#contact">contact us</a></div>
      </div>
    </div>
  </section>
</header>
