<section id="header">
  <div class='header-container'>
  <div class='navigation-panel row' style='position: fixed; top: 52px; width: 100%;'>
    <div class='col-md-2 col-xs-3'>
    <img src='/assets/header/logo.png' style='position: absolute; left: 109px;'>
    </div>
    <div class='col-md-7 xol-xs-4'></div>
    <div class='col-md-1 col-xs-1'>
      <center><button class='burger-button' id='header-burger-button'  onclick='burgerAction()'>
        <img src='/assets/header/burger.png' style='size: 64px; 64px;'>
      </button></center>
    </div>
    <div class='col-md-2 col-xs-4'>
      <a href='#contact'><button class='contact-us burger-hidable' style='display: block;'> CONTACT US </button></a>
      <div class='menu-container burger-hidable' style='display: none;'>
        <img src='/assets/header/menu.png'>
        <div class='nav-links'>
          <a href='#header'>HOME</a><br/>
          <a href='#AboutUs'>ABOUT US</a><br/>
          <a href='#skills'>SKILLS US</a><br/>
          <a href='#services'>SERVICES</a><br/>
          <a href='#portfolio'>PORTFOLIO</a><br/>
          <a href='#contact'>TEAM CONTACT</a>
        </div>
      </div>
    </div>
    </div>
  </div>
  </div>
  <div class='container-fluid' style='background-color: gray; height: 500px;'>
    <div class="welcome col-md-6 col-md-offset-3 col-xs-12 col-xs-offset-0">
        <h1>We create <span style="font-family:BebasBold;">awesome</span></h1>
        <h2>web and mobile applications</h2>
      </div>
  </div>
</section>