<section id="header">
  <div class='navigation-panel'>
    <%= image_tag("header/logo.png", class: 'logo') %>
    <button class='burger-button' id='header-burger-button container'  onclick='burgerAction()'>
      <%= image_tag("header/burger.png") %>
    </button>
    <a href='#contact'><button class='contact-us-button burger-hidable container'> CONTACT US </button></a>
    <div class='menu-container burger-hidable container' style='display: none;'>
      <%= image_tag("header/menu.png") %>
    </div>
    <div class='nav-links burger-hidable' style='display: none;'>
      <p><a href='#header'>HOME</a></p>
      <p><a href='#how-we-work'>HOW WE WORK</a></p>
      <p><a href='#AboutUs'>ABOUT US</a></p>
      <p><a href='#skills'>SKILLS</a></p>
      <p><a href='#services'>SERVICES</a></p>
      <p><a href='#portfolio'>PORTFOLIO</a></p>
      <p><a href='#contact'>TEAM CONTACT</a></p>
    </div>
  </div>
</section>
