<section id="header">
  <div class='navigation-panel'>
    <img src='/assets/header/logo.png' class='logo'>
    <button class='burger-button' id='header-burger-button container'  onclick='burgerAction()'>
      <img src='/assets/header/burger.png'>
    </button>
    <a href='#contact'><button class='contact-us-button burger-hidable container'> CONTACT US </button></a>
    <div class='menu-container burger-hidable container' style='display: none;'>
      <img src='/assets/header/menu.png'>
    </div>
    <div class='nav-links burger-hidable' style='display: none;'>
      <p><a href='#header'>HOME</a></p>
      <p><a href='#AboutUs'>ABOUT US</a></p>
      <p><a href='#skills'>SKILLS</a></p>
      <p><a href='#services'>SERVICES</a></p>
      <p><a href='#portfolio'>PORTFOLIO</a></p>
      <p><a href='#contact'>TEAM CONTACT</a></p>
    </div>
  </div>
</section>
