<section id="header">
  <div class='navigation-panel' style='position: fixed; top: 0px; left: 0px; width: 100%; z-index: 5; margin: 0px;'>
    <img src='/assets/header/logo.png' class='logo'>
    <button class='burger-button' id='header-burger-button container'  onclick='burgerAction()'>
      <img src='/assets/header/burger.png' style='size: 64px; 64px;'>
    </button>
    <a href='#contact'><button class='contact-us-button burger-hidable container' style='z-index: 10; display: block;'> CONTACT US </button></a>
    <div class='menu-container burger-hidable container' style='display: none;'>
      <img src='/assets/header/menu.png'>
    </div>
    <div class='nav-links burger-hidable' style='display: none;'>
      <p><a href='#header'>HOME</a></p>
      <p><a href='#AboutUs'>ABOUT US</a></p>
      <p><a href='#skills'>SKILLS</a></p>
      <p><a href='#services'>SERVICES</a></p>
      <p><a href='#portfolio'>PORTFOLIO</a></p>
      <p><a href='#contact'>TEAM CONTACT</a></p>
    </div>
  </div>
</section>
