<section id="howweWork">
  <div class="howwework">
    <div class="container">
        <div class="imgblock2">
          <div class="block-container">
            <div class="col-md-4">
              <div style="background-image: url('https://image.ibb.co/gKbCS9/Layer_101.png'); background-size: 100% 100%;">
                <div class="top_image">
                  <h1 style="width: 123px; height: 80px; color: #ffffff; font-family: Roboto - Black; font-size: 110px; margin-bottom: 20px;">01</h1> 
                  <h1 style="width: 117px; height: 34px;color: #ffffff; font-size: 48px;">STEP</h1>
                </div>
              </div>
              <div class="block-front">
                <h1 class="colo">01</h1>
                <h1 id="caption">LET US HEAR FROM YOUR PROJECT</h1>
                <hr style="border: solid 1px white; width: 90%">
                <h1 id="text">Awareness of your specifications, relevant technologies, scope of work and number of developers you need helps us to match appropriate candidates for you</h1>
                <hr style="border: solid 1px white; width: 90%">
              </div>
            </div>
          </div>  
        </div>
        <div class="imgblock2">
          <div class="block-container">
            <div class="col-md-4">
              <div style="background-image: url('https://image.ibb.co/c2RqEp/Layer_102.png'); background-size: 100% 100%;">
                <div class="top_image">
                  <h1 style="width: 123px; height: 80px; color: #ffffff;font-family: Roboto - Black; font-size: 110px; margin-bottom: 20px;">02</h1> 
                  <h1 style="width: 117px; height: 34px;color: #ffffff;font-size: 48px;">STEP</h1>
                </div>
              </div>
              <div class="block-front">
                <h1 class="colo">02</h1>
                <h1 id="caption">LET US HEAR FROM YOUR PROJECT</h1>
                <hr style="border: solid 1px white; width: 90%">
                <h1 id="text">Awareness of your specifications, relevant technologies, scope of work and number of developers you need helps us to match appropriate candidates for you</h1>
                <hr style="border: solid 1px white; width: 90%">
              </div>
            </div>
           </div> 
        </div>
        <div class="imgblock2">
          <div class="block-container">
            <div class="col-md-4">
              <div style="background-image: url('https://image.ibb.co/kQkiZp/Layer_103.png'); background-size: 100% 100%;">
                <div class="top_image">
                  <h1 style="width: 123px; height: 80px; color: #ffffff;font-family: Roboto - Black; font-size: 110px; margin-bottom: 20px;">03</h1> 
                  <h1 style="width: 117px; height: 34px;color: #ffffff;font-size: 48px;">STEP</h1>
                </div>
              </div>
              <div class="block-front">
                <h1 class="colo">03</h1>
                <h1 id="caption">LET US HEAR FROM YOUR PROJECT</h1>
                <hr style="border: solid 1px white; width: 90%">
                <h1 id="text">Awareness of your specifications, relevant technologies, scope of work and number of developers you need helps us to match appropriate candidates for you</h1>
                <hr style="border: solid 1px white; width: 90%">
              </div>
            </div>
        </div>
        <div class="imgblock2">
          <div class="block-container">
            <div class="col-md-4">
              <div style="background-image: url('https://image.ibb.co/fe4z79/Layer_100.png'); background-size: 100% 100%;">
                <div class="top_image">
                  <h1 style="width: 123px; height: 80px; color: #ffffff;font-family: Roboto - Black; font-size: 110px; margin-bottom: 20px;">04</h1> 
                  <h1 style="width: 117px; height: 34px;color: #ffffff;font-size: 48px;">STEP</h1>
                </div>
              </div>
              <div class="block-front">
                <h1 class="colo">04</h1>
                <h1 id="caption">LET US HEAR FROM YOUR PROJECT</h1>
                <hr style="border: solid 1px white; width: 90%">
                <h1 id="text">Awareness of your specifications, relevant technologies, scope of work and number of developers you need helps us to match appropriate candidates for you</h1>
                <hr style="border: solid 1px white; width: 90%">
              </div>
            </div>
          </div>
        </div>
  </div>
</section>