<section id="portfolio">
  <div class="portfolio">
    <div class="container">
      <div class='col-xs-12'>
        <div class='row'>
          <div class='col-xs-10 col-xs-offset-2'>
            <div class="title">
              <p class='last'>last</p>
              <p class='projects'>projects</p>
            </div>
          </div>
        </div>

        <div class='row'>
          <div class='col-xs-10 col-xs-offset-2'>
            <div class="wrapper--galleria-rectangle">
              <div class='flex-container--galleria-and-rectangle'>
                <div class='galleria flex-item--galleria-and-rectangle'>
                  <div class="flex-container">
                    <div class='flex-item img-project img-project-1 rectangle-and-text-hover'>
                      <div class='flex-container-info'>
                        <div class='flex-item-info'>
                          <div class="info">
                            <p class='name-project'>web site «landlordsny»</p>
                            <div class='horizontal-line'></div>
                            <p class='info-project'>
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur suscipit eligendi doloremque quas aliquam a eaque animi deleniti quae repudiandae in sit, tempore cum, illum itaque sint est sunt magni.
                            </p>
                            <div class='horizontal-line'></div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class='flex-item img-project img-project-2 rectangle-and-text-hover'>
                      <div class='flex-container-info'>
                        <div class='flex-item-info'>
                          <div class="info">
                            <p class='name-project'>web site «gold avenue»</p>
                            <div class='horizontal-line'></div>
                            <p class='info-project'>
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur suscipit eligendi doloremque quas aliquam a eaque animi deleniti quae repudiandae in sit, tempore cum, illum itaque sint est sunt magni.
                            </p>
                            <div class='horizontal-line'></div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class='flex-item img-project img-project-3 rectangle-and-text-hover'>
                      <div class='flex-container-info'>
                        <div class='flex-item-info'>
                          <div class="info">
                            <p class='name-project'>web site «crowdpouch»</p>
                            <div class='horizontal-line'></div>
                            <p class='info-project'>
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur suscipit eligendi doloremque quas aliquam a eaque animi deleniti quae repudiandae in sit, tempore cum, illum itaque sint est sunt magni.
                            </p>
                            <div class='horizontal-line'></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="flex-container">
                    <div class='flex-item img-project img-project-4 rectangle-and-text-hover'>
                      <div class='flex-container-info'>
                        <div class='flex-item-info'>
                          <div class="info">
                            <p class='name-project'>web site «up stack»</p>
                            <div class='horizontal-line'></div>
                            <p class='info-project'>
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur suscipit eligendi doloremque quas aliquam a eaque animi deleniti quae repudiandae in sit, tempore cum, illum itaque sint est sunt magni.
                            </p>
                            <div class='horizontal-line'></div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class='flex-item img-project img-project-5 rectangle-and-text-hover'>
                      <div class='flex-container-info'>
                        <div class='flex-item-info'>
                          <div class="info">
                            <p class='name-project'>web site «everseat»</p>
                            <div class='horizontal-line'></div>
                            <p class='info-project'>
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur suscipit eligendi doloremque quas aliquam a eaque animi deleniti quae repudiandae in sit, tempore cum, illum itaque sint est sunt magni.
                            </p>
                            <div class='horizontal-line'></div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class='flex-item img-project img-project-6 rectangle-and-text-hover'>
                      <div class='flex-container-info'>
                        <div class='flex-item-info'>
                          <div class="info">
                            <p class='name-project'>web site «classlyapp»</p>
                            <div class='horizontal-line'></div>
                            <p class='info-project'>
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur suscipit eligendi doloremque quas aliquam a eaque animi deleniti quae repudiandae in sit, tempore cum, illum itaque sint est sunt magni.
                            </p>
                            <div class='horizontal-line'></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="flex-container">
                    <div class='flex-item img-project img-project-7 rectangle-and-text-hover'>
                      <div class='flex-container-info'>
                        <div class='flex-item-info'>
                          <div class="info">
                            <p class='name-project'>web site «Tom Rensed»</p>
                            <div class='horizontal-line'></div>
                            <p class='info-project'>
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur suscipit eligendi doloremque quas aliquam a eaque animi deleniti quae repudiandae in sit, tempore cum, illum itaque sint est sunt magni.
                            </p>
                            <div class='horizontal-line'></div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class='flex-item img-project img-project-8 rectangle-and-text-hover'>
                      <div class='flex-container-info'>
                        <div class='flex-item-info'>
                          <div class="info">
                            <p class='name-project'>web site «Lancer Jack»</p>
                            <div class='horizontal-line'></div>
                            <p class='info-project'>
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur suscipit eligendi doloremque quas aliquam a eaque animi deleniti quae repudiandae in sit, tempore cum, illum itaque sint est sunt magni.
                            </p>
                            <div class='horizontal-line'></div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class='flex-item img-project img-project-9 rectangle-and-text-hover'>
                      <div class='flex-container-info'>
                        <div class='flex-item-info'>
                          <div class="info">
                            <p class='name-project'>web site «Nathan White»</p>
                            <div class='horizontal-line'></div>
                            <p class='info-project'>
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur suscipit eligendi doloremque quas aliquam a eaque animi deleniti quae repudiandae in sit, tempore cum, illum itaque sint est sunt magni.
                            </p>
                            <div class='horizontal-line'></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class='rectangle-portfolio flex-item--galleria-and-rectangle'></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
