<section id="portfolio">
  <div class="portfolio">
    <div class="container content">
      <div class='col-xs-12'>
        <div class='row'>
          <div class='col-xs-10 col-xs-offset-1'>
            <div class="title">
              <p class='last'>last</p>
              <p class='projects'>projects</p>
            </div>
          </div>
        </div>
        <div class='row'>

            <div class="wrapper--galleria-rectangle">
              <div class='flex-container--galleria-and-rectangle'>
                <div class='galleria flex-item--galleria-and-rectangle'>
                <div class='col-xs-9 col-xs-offset-1'>
                  <% @project.each do |portfolio| %>
                    <div class="flex-container" style="float:left">
                      <div class='flex-item img-project rectangle-and-text-hover'
                        style="background-image: url(<%= image_path(portfolio.image_url) %>)" >
                        <a href='<%= portfolio.web_address %>' target="_blank">
                          <div class='flex-container-info'>
                            <div class='flex-item-info'>
                              <div class="info">
                                <p class='name-project'>
                                  <%= portfolio.name %>
                                </p>
                                <div class='horizontal-line'></div>
                                <p class='info-project'>
                                  <%= portfolio.description %>
                                </p>
                                <div class='horizontal-line'></div>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                  <% end %> 
                  </div>  
                  <div class='rectangle-portfolio flex-item--galleria-and-rectangle'></div>             
                </div>
                
              </div>
            </div>
         
        </div>
      </div>
    </div>
  </div>  
</section>
