<section id="portfolio">
  <div class="portfolio">
    <div class="container">
      <h2>portfolio</h2>
      <div class="col-md-4 animated fadeInLeft wow animated"><a href=""><img class="img-responsive" src="./img/example-1.png"></a></div>
      <div class="col-md-4 col-md-4 col-md-4 animated fadeInDown wow animated"><a href=""><img class="img-responsive" src="./img/example-2.png"></a></div>
      <div class="col-md-4 animated fadeInRight wow animated"><a href=""><img class="img-responsive" src="./img/example-3.png"></a></div>
      <div class="col-md-4 col-md-4 col-md-4 animated fadeInUp wow animated"><a href=""><img class="img-responsive" src="./img/example-4.png"></a></div>
      <div class="col-md-4 animated fadeInUp wow animated"><a href=""><img class="img-responsive" src="./img/example-5.png"></a></div>
      <div class="col-md-4 col-md-4 animated fadeInUp wow animated"><a href=""><img class="img-responsive" src="./img/example-6.png"></a></div>
      <div class="col-md-2 col-md-offset-5">
        <div class="button btn-portfolio"><a href="">more</a></div>
      </div>
    </div>
  </div>
</section>
