<section id="services">
  <h2>Services</h2>
  <div id="servises" class="services">
    <div class="container">
      <div class="col-md-4 col-xs-12 animated fadeInDown wow animated">
        <div class="service-card">
          <i class="fa fa-code fa-3x" aria-hidden="true"></i>
          <h4>Web Development</h4>
          <p>Our main advantage is understanding your requirement and selection of developers who have practical experience in software development using Ruby on Rails technology.</p>
        </div>
      </div>
      <div class="col-md-4 col-xs-12 animated fadeInDown wow animated">
        <div class="service-card">
          <i class="fa fa-bar-chart fa-3x" aria-hidden="true"></i>
          <h4>Free Code Audit</h4>
          <p>Developers test and perform code audits during the whole process of work. This approach allows you to get a quality work product in accordance with all the standards of Ruby.</p>
        </div>
      </div>
      <div class="col-md-4 col-xs-12 animated fadeInDown wow animated">
        <div class="service-card">
          <i class="fa fa-tachometer fa-3x" aria-hidden="true"></i>
          <h4>Maintenance & Support</h4>
          <p>After the implementation of the software we offer our customers the maintenance and support through web analytics and special tools.</p>
        </div>
      </div>
    </div>
  </div>
</section>
