section#services
  .services
    .container.content
      .col-md-4.col-xs-12
        .service-card
          .info
            p.title
              | MVP & PoC
            hr.hr
            .body
              p.text
                | Aimed at changing the world, you should test your desires to be certain of these feasibility and relevance. Focusing on your vision, our team will help you to realize your first-rate thoughts from scratch
              p.read-more
                | Read more
              button.btn-contact[name="button" type="submit" onclick="scroller('contact')"]
                | Contact us
      .col-md-4.col-xs-12
        .service-card.service-card-center
          .info
            p.title
              | Dedicated Team
            hr.hr
            .body
              p.text
                | Whenever your business have made an expansion, you end up with staffing shortfall. We are willing to provide you with full-stack developers who wrap mind around your vision and will move forward to achieve your goals step by step
              p.read-more
                | Read more
              button.btn-contact[name="button" type="submit" onclick="scroller('contact')"]
                | Contact us
      .col-md-4.col-xs-12
        .service-card
          .info
            p.title
              | Staff Augmentation
            hr.hr
            .body
              p.text
                | It’s a common occurrence when you need extremely improve your product using up-dated technologies. String along with Scrum and Kanban methodologies, Milestep’s experts will rescue situation smoothly
              p.read-more
                | Read more
              button.btn-contact[name="button" type="submit" onclick="scroller('contact')"]
                | Contact us
