<section id=skills>
  <div class="container skills-wrapper">
    <h2>Skills</h2>
    <div class="col-xs-12" align="center">
      <%= image_tag 'frontend.jpg', class: 'img-responsive' %>
    </div>
    <div class="col-xs-12 col-md-6 pull-right"><h3>frontend</h3><p>
        Our software developers use standard tools to create an outstanding site such as HTML, Haml, Slim, CSS (including preprocessors SASS, LESS, Compass) and JavaScript. We are able to work with JS frameworks such as CoffeeScript, jQuery, AngularJS, Ember.js, Backbone.js. That set of skills enables us to make the сross-browser, practical and functional site.Consequently, our website creators make your website more responsive for multiple screen sizes. For example, there can be a specific layout for mobile phones, tablets, and desktop computers</p>
    </div>
    <div class="clearfix"></div>
    <div class="col-xs-12" align="center">
      <%= image_tag 'backend.jpg', class: 'img-responsive' %>
    </div>
    <div class="col-xs-12 col-md-6 col-md-offset-1 pull-left"><h3 style="margin-top: 80px">backend</h3><p>
        The MileStep Team uses MVC framework Ruby on Rails to implement the server side of the site. This framework is more dynamic, interpretive and convenient, in comparison with other server languages. Besides, this technology allows us to integrate and provide default structured databases such as MySQL, PostgreSQL, MongoDB and Redis, and link them to the front-end side. Finally, RoR it’s a rich platform with an ability to perform more things with lesser expenses.</p>
    </div>
  </div>
</section>
