<section id='team'>
  <div class='team'>
    <div class='container-fluid content-right'>
      <div class='left-content-block'>
        <div class='section-left-text'>
          <div class='title'>
            <p class='text-our'>OUR</p>
            <p class='text-team'>TEAM</p>
          </div>
          <p class='paragraph'>
            Each of us might be as a ninja, unicorn or cat fancier deep inside.
            What unites us, nevertheless, are our abiding commitment to code writing
            and desire to transform the world through making of high-tech dreams come true
          </p>
          <div class='horizontal-line'></div>
          <span class='slider-info-number-page slider-info-number-page-js'><span>01</span> / 02</span>
        </div>
      </div>

<<<<<<< HEAD
<<<<<<< HEAD
      <div class='col-xs-6'>
=======
      <div class='col-xs-12 right-content-block'>
>>>>>>> 468bde07796755f62d09c58c551d12729b1aaf20
=======
      <div class='col-xs-12 right-content-block'>
>>>>>>> f50837116f44dd6f28663fc5f3274f44230cda2c
        <div class='faces slider-team-slick-js'>
          <% @development.each do |developer| %>
            <div class='col-xs-4'>
              <div class='flex-item animated fadeInDown rectangle-and-text-hover img-face', style="background-image: url(<%= image_path(developer.image_url) %>);" >
                <div class='text'>
                  <p class='name'><%= developer.name %></p>
                  <div class='horizontal-line'></div>
                  <p class='specialization'><%= developer.title %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</section>
