<section id="team">
  <h2>team</h2>
  <h4 style="font-family: 'BebasLight'; text-align: center">Lorem ipsum dolor sit amet, consectetur adipiscing.</h4>
  <div class="team">
    <div class="container">
      <div class="col-md-4  animated fadeInDown wow animated">
        <div class="employee">
          <img src="./img/team_pic1.jpg" alt="">
          <h3>Tom Rensed</h3>
          <p>fullstack web developer</p>
        </div>
      </div>
      <div class="col-md-4  animated fadeInDown wow animated">
        <div class="employee">
          <img src="./img/team_pic2.jpg" alt="">
          <h3>Kathren Mory</h3>
          <p>frontend devefoper</p>
        </div>
      </div>
      <div class="col-md-4  animated fadeInDown wow animated">
        <div class="employee">
          <img src="./img/team_pic3.jpg" alt="">
          <h3>Lancer Jack</h3>
          <p>designer</p>
        </div>
      </div>
    </div>
  </div>
</section>
