body {
  background: #1F1F1F;
  a {
    color: white;
    &:hover {
      color: dodgerblue;
      text-decoration: none;
    }
  }
}

.blog-header {
  background: #1F1F1F;
  position: fixed;
  width: 100%;
  height: 9vh;
  z-index: 99;
  opacity: .97;
  display: flex;

  .logo {
    width: 30vw;
    height: inherit;

    a {
      height: inherit;
      display: flex;
      align-items: flex-end;

      img {
        height: 75%;
        margin-left: 10%;
      }
    }
  }

  .contact-us {
    width: 20vw;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;

    button.contact-us-button {
      color: white;
      font-size: 1.88vh;
      width: 55%;
      height: 60%;
      background-color: rgba(0, 0, 0, 0);
      border: 1px solid #FFFFFF;
      box-sizing: border-box;
      border-radius: 20px;
      text-transform: uppercase;
      cursor: pointer;
      transition: filter 1s, background-color .3s, opacity .5s;
    }
  }

  .search {
    width: 50vw;
    height: inherit;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .search-container {
      width: 35%;
      height: 60%;

      box-shadow: inset 0px 5px 20px #000000;
      border-radius: 5px;
      display: flex;

      .search-input {
        height: 100%;
        width: 90%;
        padding-left: 5%;
        background: #1F1F1F;
        box-shadow: inset 0px 5px 20px #000000;
        border-radius: 5px;
        border: unset;
        color: white;
        font-size: 1.8vh;
      }

      input.search-icon-image {
        width: 10%;
        background: image_url("blog/srch") no-repeat;
        background-position-x: center;
        background-position-y: center;
        background-size: 40%;
        border: unset;
      }
    }
  }
}
.blog-footer {
  p {
    margin: unset;
  }

  width: 100vw;
  height: 60vh;
  padding-bottom: 10vh;
  display: flex;
  justify-content: center;

  .contact-us {
    width: 70vw;
    display: flex;

    .form {
      width: 70%;
      height: 100%;
      background: rgba(24, 24, 24, 0.8);

      .title {
        margin-top: 3%;
        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 2.36vh;
        line-height: 2.47vh;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;

        h2 { font-size: unset; }

        span:first-child, span:nth-child(2) {
          margin: 0 0.59vh 0 0.59vh;
          font-weight: 900;
          font-size: 4.71vh;
          line-height: 4.95vh;
          text-align: center;
          letter-spacing: 0.03em;
          text-transform: uppercase;

          color: #F42B24;
        }

        span:last-child{
          text-align: center;
          font-weight: normal;
          letter-spacing: 0.1em;
          text-transform: lowercase;
          font-size: 2.47vh;
          margin-top: -0.24vh;
          display: block;

          color: rgba(255, 255, 255, 0.2);
        }
      }

      form.message-form {
        width: 85%;
        margin: 4% 4% 4% 7%;;
        text-align: right;
        color: white;

        input {
          background: none;
          outline: none;
          border: none;
          border-bottom: 0.24vh solid rgba(255, 255, 255, 0.15);
          padding: 0.59vh;
        }

        input.name {
          width: 47%;
          margin-right: 6%;
        }

        input.email {
          width: 47%;
        }

        input.message {
          margin-top: 6.5vh;
          width: 95%;
        }

        input.add-file {
          position: absolute;
          width: 30px;
          height: 30px;
          display: inline-block;
          margin-left: -25px;
          margin-top: -4px;
          opacity: 0;
        }

        div.add-file-img {
          margin-top: 6.5vh;
          padding: 0.59vh;
          width: 5%;
          display: inline-block;
          font-family: 'fontello';
          transition: color .3s;
          color: rgba(255, 255, 255, 0.6);
          border-bottom: 0.24vh solid rgba(255, 255, 255, 0.15);
        }

        div.include-files {
          width: 100%;
          margin-top: 1vh;
          cursor: default;

          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 1.65vh;
          line-height: 1.3vh;
          letter-spacing: 0.04em;
          color: rgba(255, 255, 255, 0.2);
        }

        div.add-file:hover, .add-file-btn-img:hover {
          color: rgba(255, 255, 255, 0.4);
          transition: color .3s;
        }

        input.send-massage-btn {
          display: inline-block;
          position: inherit;
          margin-top: 5.5%;
          background: #F42B24;
          border-radius: 4.12vh;
          text-transform: uppercase;
          width: 22.97vh;
          height: 4.83vh;
          transition: background .3s;

          font-family: Roboto;
          font-style: normal;
          font-weight: 500;
          font-size: 1.65vh;
          line-height: normal;
          text-align: center;
          letter-spacing: 0.05em;

          color: #FFFFFF;
        }

        input.send-massage-btn:hover {
          background: #B30C06;
          transition: background .3s, box-shadow .3s;
        }

        div:last-child {
          width: 100%;
          text-align: left;
          margin-top: 1vh;
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 1.65vh;
          line-height: 2.12vh;
          letter-spacing: 0.07em;
          color: rgba(255, 255, 255, 0.3);
        }
      }
    }

    .info {
      width: 30%;
      padding-left: 2%;
      font-family: Roboto;
      font-style: normal;
      letter-spacing: 0.05em;

      h2 {
        font-weight: 900;
        font-size: 3.53vh;
        line-height: normal;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 10%;
      }

      p {
        font-weight: 500;
        font-size: 1.65vh;
        line-height: 2.94vh;
        color: rgba(255, 255, 255, 0.5);
        margin-bottom: 10%;
      }

      .social-btns{
        font-family: 'fontello';
        font-size: 4.24vh;
        margin-bottom: 10%;
        color: white;
        cursor: pointer;
        display: flex;

        div {
          margin-right: 1.18vh;
          transition: color .3s;
        }

        //*blog
        div:last-child {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          bottom: -0.94vh;
          border-radius: 11.66vh;
          background: white;
          color: #1f1f1f;
          font-size: 2.7vh;
          height: 4.24vh;
          min-height: 4.24vh;
          width: 4.24vh;
          min-width: 4.24vh;
          margin-right: 1.18vh;
          transition: background .3s;
        }

        div:last-child:hover {
          color: #1f1f1f;
          background: rgba(255, 255, 255, 0.4);
          transition: background .3s;
        }
      }

      .social-btns div:hover{
        color: rgba(255, 255, 255, 0.4);
        transition: color .3s;
      }

      p.copyright {
        font-weight: 500;
        font-size: 1.57vh;
        line-height: 2.71vh;
        color: rgba(200,200,200,.3);
        margin: unset;
      }
    }
  }
}
.blog-posts-container {
  padding: 12vh 8vw 0 8vw;
  width: 100vw;

  .main_post {
    width: 100%;
    height: 75vh;
    margin-bottom: 10vh;
    margin-top: 2.5vh;
    margin-left: 8%;
    display: flex;

    .text_column {
      width: 19.6%;

      .title {
        height: 23%;
        width: 80%;
        font-size: 1.5vw;
        color: #fff;
        padding-top: 5%;
        text-transform: uppercase;
        line-height: 3.8vh;
      }

      .additional_photo {
        height: 37%;
        img {
          position: relative;
          width: 110%;
          height: 100%;
          object-fit: cover
        }
      }
    }

    .text_body {
      height: 40%;
      color: rgba(255, 255, 255, 0.3);
      width: 90%;
      font-size: 1.8vh;
    }

    .link {
      height: 10%;
      padding-top: 3%;
      a {
        font-size: 1.8vh;
      }
    }

  .photo_column {
    width: 80.4%;
    img {
      height: 100%;
      width: 102%;
      object-fit: cover;
      }
    }
  }
  .posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .blog-post {
      width: 19%;
      margin-right: 2%;
      margin-bottom: 1vh;

      &:hover {
        border: 1px solid #414141;
        border-radius: 5px;
      }

      .image-wrapper {
        height: 50%;
        img {
          height: 100%;
          width: 100%;
          border-radius: 5px 5px 0 0;
        }
      }

      .blog-post-text-block {
        height: 40%;
        padding: 8.9% 0 0;
        background-color: #1F1F1F;
        line-height: unset;

        .blog-post-title {
          font-size: 2.6vh;
          text-transform: uppercase;
          padding-left: 1%;
        }

        .blog-post-body {
          color: rgba(255, 255, 255, 0.3);
          margin: 7% 0 0 0;
          font-size: 2vh;
          text-align: start;
          padding-left: 1%;
        }
      }
      .blog-post-icons {
        text-align: right;
        font-size: 1.8vh;
        padding: 0 5%;
        color: rgba(255, 255, 255, 0.3);

        span {
          margin-left: 3%;
        }

        span#comments {
          margin-right: 6%;
        }

        img {
          height: 1.8vh;
        }
      }
    }
  }

  .blog-posts-pagination {
    margin-top: 1vh;
    margin-bottom: 15vh;
    text-align: center;
    font-family: "Roboto";
    font-size: 2.8vh;

    span {
      color: white;
    }

    .previous {
      margin-right: 1%;
    }

    .next {
      margin-left: 1%;
    }

    .page {
      display: inline-block;
      box-sizing: content-box;
      width: 3vw;
      height: 3vw;
      text-align: center;
      line-height: 3vw;
      border-radius: 100%;
      background: #1D1D1D;
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      margin: 0 0.2%;
    }

    .current {
      border-radius: 100%;
      background: #F42B24;
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  .no-posts-text {
    text-align: center;
    font-size: 10vh;
    padding-bottom: 5vh;
  }
}

/// < 2100x1000
@media (max-aspect-ratio: 11/5) {
  .blog-footer {
    height: 65vh;
  }
}

/// < 1800x1000
@media (max-aspect-ratio: 9/5) {
  .blog-posts-container {
    .main_post {
      height: 53vh;
      .text_column {
        .title {
          line-height: 2.8vh;
        }
      }
      .text_body {
        font-size: 0.8vw;
        padding-top: 1vh;
      }
    }
    .posts {
      .blog-post {
        width: 26%;
      }
    }
  }

  .blog-footer {
    height: 66vh;
  }
}

/// < 1500x1000
@media (max-aspect-ratio: 3/2) {
  .blog-posts-container {
    .main_post {
      .text_body {
        font-size: 0.9vw;
      }
    }
  }
  .blog-header {
    .contact-us {
      width: 30vw;
    }

    .search {
      .search-container {
        width: 45%;
      }
    }
  }

  .blog-posts-container {
    .no-posts-text {
      font-size: 5vw;
    }

    .blog-posts-pagination {
      margin-bottom: 10vh;
    }
  }

  .blog-footer {
    height: 58vh;
    .contact-us {
      flex-wrap: wrap;

      .form {
        width: 100%;

        .message-form p {
          padding-top: unset;
        }
      }

      .info {
        width: 100%;
        text-align: center;

        h2 {
          width: 100%;
          margin-bottom: unset;
        }

        p {
          width: 100%;
          margin-bottom: 2%;
        }

        .social-btns {
          margin: unset;
          width: 100%;
          display: flex;
          justify-content: center;
        }

        p.copyright {
          margin-bottom: 2vh;
        }
      }
    }
  }
}

/// < 1250x1000
@media (max-aspect-ratio: 5/4) {
  .blog-posts-container {
    .main_post {
      display: none;
    }
    .posts {
      .blog-post {
        width: 45%;

        .image-wrapper {
          height: 60%;
        }

        .blog-post-text-block {
          padding: 3.9% 5% 0;

          .blog-post-body {
            margin: 3% 0 5% 0;
          }
        }
      }
    }

    .blog-posts-pagination {
      .page {
        width: 6vw;
        height: 6vw;
        line-height: 6vw;
      }
    }

    .no-posts-text {
      font-size: 7vh;
    }
  }
  .blog-footer {
    height: 57vh;
    .contact-us .form form.message-form div:last-child {
      font-size: 1.55vh;
    }
  }
}

/// < 1100x1000
@media (max-aspect-ratio: 11/10) {
  .blog-footer {
    height: 54vh;
  }
}

/// < 1000x1000
@media (max-aspect-ratio: 1/1) {
  .blog-header {
    .contact-us {
      display: none;
    }

    .search {
      width: 65vw;
      .search-container {
        width: 75%;
      }
    }
  }
  .blog-posts-container {
    .posts {
      .blog-post {
        width: 100%;
        .image-wrapper {
          height: 55%;
        }
      }
    }
    .no-posts-text {
      font-size: 7vw;
    }
  }
  .blog-footer {
    height: 53vh;
    .contact-us .form form.message-form div:last-child {
      font-size: 1.55vw;
    }
  }
}

/// < 900x1000
@media (max-aspect-ratio: 9/10) {
  .blog-footer {
    height: 52vh
  }

  .blog-posts-container {
    .posts {
      .blog-post {
        .image-wrapper {
          height: 60%;
        }
      }
    }
    .no-posts-text {
      font-size: 7vw;
    }
  }
}

/// < 700x1000
@media (max-aspect-ratio: 7/10) {
  .blog-footer {
    height: 51vh;
    .contact-us .form form.message-form div.include-files {
      font-size: 1.55vh;
    }
  }
  .blog-posts-container {
    .posts .blog-post {
      margin-bottom: -3vh;
    }
    .blog-posts-pagination {
      font-size: 2.4vh;
    }
  }
}

@media (max-aspect-ratio: 4/5) {
  .blog-footer {
    height: 50vh;
  }
}

/// < 600x1000
@media (max-aspect-ratio: 3/5) {
  .blog-footer {
    height: 54vh;
    .contact-us .form form.message-form div.include-files {
      font-size: 1.37vh;
    }
  }
}

/// < Samsung S-5
@media (max-aspect-ratio: 9/16) {
  .blog-footer {
    height: 52vh;
  }
}

/// < 500x1000
@media (max-aspect-ratio: 1/2) {
  .blog-posts-container {
    .posts {
      .blog-post {
        margin-bottom: 2vh;
        .image-wrapper {
          height: 54%;
        }
      }
    }
    .blog-posts-pagination {
      .page {
        width: 8vw;
        height: 8vw;
        line-height: 8vw;
      }
    }
  }
  .blog-footer {
    height: 49vh;
    .contact-us {
      .form form.message-form div.include-files {
        font-size: 1.1vh;
      }

      .form .title span:last-child {
        font-size: 2vh;
      }

      .info p.copyright {
        font-size: 1.45vh;
      }
    }
  }
}
