html {
  height: 100%;
}
body {
  font-family: Roboto;
  background-color: rgb(255, 255, 255);
  a {
    color: white;
    &:hover {
      color: rgba(255, 255, 255, 0.715);
      text-decoration: none;
    }
  }
}

.blog-header {
  background: #1f1f1f;
  position: fixed;
  width: 100%;
  height: 10vh;
  z-index: 99;
  opacity: 0.97;
  display: flex;

  .logo {
    width: 30vw;
    height: inherit;

    a {
      height: inherit;
      display: flex;
      align-items: flex-end;

      img {
        height: 75%;
        margin-left: 10%;
      }
    }
  }

  .contact-us {
    width: 20vw;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;

    button.contact-us-button {
      color: white;
      font-size: 1.88vh;
      width: 55%;
      height: 4.83vh;
      background-color: rgba(0, 0, 0, 0);
      border: 1px solid #ffffff;
      box-sizing: border-box;
      border-radius: 4.12vh;
      text-transform: uppercase;
      cursor: pointer;
      transition: filter 1s, background-color 0.3s, opacity 0.5s;

      &:hover {
        background-color: rgb(0, 0, 0);
      }
    }
  }

  .main {
    width: 50vw;
    height: inherit;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.8vh;

    a {
      margin-right: 5%;
    }
  }
}

.hint {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

//*contact us
.footer-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
  width: 100%;
  height: 90%;

  img {
    position: relative;
    right: 15%;
    height: 100%;
    width: 80%;
    object-fit: cover;
  }

  .contact-us {
    position: absolute;
    display: flex;
    width: 77vw;
    height: 57vh;
    margin-left: 8vw;

    .form {
      background: rgba(24, 24, 24, 0.8);
      align-self: stretch;
      width: 67%;
      display: flex;
      align-items: center;
      flex-direction: column;
      float: right;

      .title {
        margin-top: 2vh;
        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 2.36vh;
        line-height: 2.47vh;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #ffffff;

        h2 {
          font-size: unset;
        }

        span:first-child,
        span:nth-child(2) {
          margin: 0 0.59vh 0 0.59vh;
          font-weight: 900;
          font-size: 4.71vh;
          line-height: 4.95vh;
          text-align: center;
          letter-spacing: 0.03em;
          text-transform: uppercase;
          color: #f42b24;
        }

        span:last-child {
          text-align: center;
          font-weight: normal;
          letter-spacing: 0.1em;
          text-transform: lowercase;
          font-size: 2.47vh;
          margin-top: -0.24vh;
          display: block;
          color: rgba(255, 255, 255, 0.2);
        }
      }

      form.message-form {
        width: 85%;
        margin-top: 7vh;
        text-align: right;

        a {
          color: white;
          text-decoration: none;
        }

        input {
          background: none;
          outline: none;
          border: none;
          border-bottom: 0.24vh solid rgba(255, 255, 255, 0.15);
          padding: 0.59vh;
        }

        input.name {
          width: 47%;
          margin-right: 6%;
        }

        input.email {
          width: 47%;
        }

        input.message {
          margin-top: 6.5vh;
          width: 95%;
        }

        input.add-file {
          position: absolute;
          width: 30px;
          height: 30px;
          display: inline-block;
          margin-left: -20px;
          margin-top: -25px;
          opacity: 0;
        }

        div.add-file-img {
          margin-top: 6.5vh;
          padding: 0.59vh;
          width: 5%;
          display: inline-block;
          font-family: "fontello";
          transition: color 0.3s;
          color: rgba(255, 255, 255, 0.6);
          border-bottom: 0.24vh solid rgba(255, 255, 255, 0.15);
          cursor: pointer;
        }

        div.include-files {
          width: 100%;
          margin-top: 1vh;
          cursor: default;
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 1.65vh;
          line-height: 1.3vh;
          letter-spacing: 0.04em;
          color: rgba(255, 255, 255, 0.2);
        }

        div.add-file:hover,
        .add-file-btn-img:hover {
          color: rgba(255, 255, 255, 0.4);
          transition: color 0.3s;
          cursor: pointer;
        }

        input.send-massage-btn {
          display: inline-block;
          position: inherit;
          margin-top: 6vh;
          background: #f42b24;
          border-radius: 4.12vh;
          text-transform: uppercase;
          width: 22.97vh;
          height: 4.83vh;
          transition: background 0.3s;
          font-family: Roboto;
          font-style: normal;
          font-weight: 500;
          font-size: 1.65vh;
          line-height: normal;
          text-align: center;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          color: #ffffff;
        }

        input.send-massage-btn:hover {
          background: #b30c06;
          transition: background 0.3s, box-shadow 0.3s;
        }

        div:last-child {
          width: 100%;
          text-align: left;
          margin-top: 1vh;
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 1.65vh;
          line-height: 2.12vh;
          letter-spacing: 0.07em;
          color: rgba(255, 255, 255, 0.3);
        }
      }
    }

    .info {
      width: 33%;
      padding: 7vh 2vw 7vh 4vw;
      font-family: Roboto;
      font-style: normal;
      letter-spacing: 0.05em;

      h2 {
        font-weight: 900;
        font-size: 3.53vh;
        line-height: normal;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 5vh;
      }

      p {
        font-weight: 500;
        font-size: 1.65vh;
        line-height: 2.94vh;
        color: rgba(255, 255, 255, 0.5);
        margin-bottom: 5vh;
      }

      .social-btns {
        font-family: "fontello";
        font-size: 4.24vh;
        margin-bottom: 5vh;
        cursor: pointer;
        display: flex;
        color: #ffffff;

        div {
          margin-right: 1.18vh;
          transition: color 0.3s;
        }

        //*blog
        div:last-child {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          bottom: -0.94vh;
          border-radius: 11.66vh;
          background: white;
          color: black;
          font-size: 2.7vh;
          height: 4.24vh;
          min-height: 4.24vh;
          width: 4.24vh;
          min-width: 4.24vh;
          margin-right: 1.18vh;
          transition: background 0.3s;
        }

        div:last-child:hover {
          color: black;
          background: rgba(255, 255, 255, 0.4);
          transition: background 0.3s;
        }
      }

      .social-btns div:hover {
        color: rgba(255, 255, 255, 0.4);
        transition: color 0.3s;
      }

      p.copyright {
        font-weight: 500;
        font-size: 1.77vh;
        line-height: 2.71vh;
        color: rgba(200, 200, 200, 0.3);
      }
    }
  }
}

.blog-posts-container {
  padding: 10vh 0 0 0;
  width: 100vw;

  .main_post {
    .text_column {
      display: grid;
      grid-template-columns: 50% 25% 25%;
      grid-template-rows: 38% 38%;
      grid-template-areas:
        "photo_column additional_photo_1 additional_photo_2"
        "photo_column additional_photo_3 additional_photo_4";
    }

    .photo_column {
      grid-area: photo_column;
      position: relative;

      &:hover {
        transition: all 0.4s ease-in-out;
        transform: scale(0.99);
        -webkit-box-shadow: 0px 0px 20px 2px rgba(161, 161, 161, 1);
        -moz-box-shadow: 0px 0px 20px 2px rgba(161, 161, 161, 1);
        box-shadow: 0px 0px 20px 2px rgba(161, 161, 161, 1);
      }
    }

    .photo_column img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    .text_block {
      position: absolute;
      left: 4%;
      top: 50%;
      width: 55%;
      color: #ffffff;

      .title {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 3.2vh;
        line-height: 3.8vh;
        /* or 80% */
        letter-spacing: 0.03em;
        color: #ffffff;
      }

      .text_body {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 2.8vh;
        line-height: 3.2vh;
        padding-top: 0.2vh;
        letter-spacing: 0.05em;
        color: rgba(255, 255, 255, 0.8);
      }
    }

    .photo_column {
      grid-template-columns: 100%;
    }

    .additional_photo_1 {
      grid-area: additional_photo_1;
      position: relative;

      &:hover {
        transition: all 0.4s ease-in-out;
        transform: scale(0.98);
        -webkit-box-shadow: 0px 0px 20px 2px rgba(161, 161, 161, 1);
        -moz-box-shadow: 0px 0px 20px 2px rgba(161, 161, 161, 1);
        box-shadow: 0px 0px 20px 2px rgba(161, 161, 161, 1);
      }

      .text_block_photo_1 {
        position: absolute;
        left: 4%;
        top: 50%;
        width: 90%;
        color: #ffffff;

        .title {
          font-family: Roboto;
          font-style: normal;
          font-weight: bold;
          font-size: 2.2vh;
          line-height: 2.8vh;
          /* or 80% */
          letter-spacing: 0.03em;
          color: #ffffff;
        }

        .text_body {
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 2vh;
          line-height: 2.2vh;
          padding-top: 0.2vh;
          letter-spacing: 0.05em;
          color: rgba(255, 255, 255, 0.8);
        }
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .additional_photo_2 {
      grid-area: additional_photo_2;
      position: relative;

      &:hover {
        transition: all 0.4s ease-in-out;
        transform: scale(0.98);
        -webkit-box-shadow: 0px 0px 20px 2px rgba(161, 161, 161, 1);
        -moz-box-shadow: 0px 0px 20px 2px rgba(161, 161, 161, 1);
        box-shadow: 0px 0px 20px 2px rgba(161, 161, 161, 1);
      }

      .text_block_photo_2 {
        position: absolute;
        left: 4%;
        top: 50%;
        width: 90%;
        color: #ffffff;

        .title {
          font-family: Roboto;
          font-style: normal;
          font-weight: bold;
          font-size: 2.2vh;
          line-height: 2.8vh;
          /* or 80% */
          letter-spacing: 0.03em;
          color: #ffffff;
        }

        .text_body {
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 2vh;
          line-height: 2.2vh;
          padding-top: 0.2vh;
          letter-spacing: 0.05em;
          color: rgba(255, 255, 255, 0.8);
        }
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .additional_photo_3 {
      grid-area: additional_photo_3;
      position: relative;

      &:hover {
        transition: all 0.4s ease-in-out;
        transform: scale(0.98);
        -webkit-box-shadow: 0px 0px 20px 2px rgba(161, 161, 161, 1);
        -moz-box-shadow: 0px 0px 20px 2px rgba(161, 161, 161, 1);
        box-shadow: 0px 0px 20px 2px rgba(161, 161, 161, 1);
      }

      .text_block_photo_3 {
        position: absolute;
        left: 4%;
        top: 50%;
        width: 90%;
        color: #ffffff;

        .title {
          font-family: Roboto;
          font-style: normal;
          font-weight: bold;
          font-size: 2.2vh;
          line-height: 2.8vh;
          /* or 80% */
          letter-spacing: 0.03em;
          color: #ffffff;
        }

        .text_body {
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 2vh;
          line-height: 2.2vh;
          padding-top: 0.2vh;
          letter-spacing: 0.05em;

          color: rgba(255, 255, 255, 0.8);
        }
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .additional_photo_4 {
      grid-area: additional_photo_4;
      position: relative;

      &:hover {
        transition: all 0.4s ease-in-out;
        transform: scale(0.98);
        -webkit-box-shadow: 0px 0px 20px 2px rgba(161, 161, 161, 1);
        -moz-box-shadow: 0px 0px 20px 2px rgba(161, 161, 161, 1);
        box-shadow: 0px 0px 20px 2px rgba(161, 161, 161, 1);
      }

      .text_block_photo_4 {
        position: absolute;
        left: 4%;
        top: 50%;
        width: 90%;
        color: #ffffff;

        .title {
          font-family: Roboto;
          font-style: normal;
          font-weight: bold;
          font-size: 2.2vh;
          line-height: 2.8vh;
          /* or 80% */
          letter-spacing: 0.03em;
          color: #ffffff;
        }

        .text_body {
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 2vh;
          line-height: 2.2vh;
          padding-top: 0.2vh;
          letter-spacing: 0.05em;
          color: rgba(255, 255, 255, 0.8);
        }
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .text_column_end {
      display: flex;
      position: fixed;
      animation: anim 3s;
      animation-duration: 3s;
      grid-area: text_column_end;
      height: 9vh;
      bottom: 0;
      background-color: rgb(0, 0, 0);
      text-align: center;
      justify-content: center;
      align-items: center;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      width: 100vw;
      font-size: 1.6vh;
      line-height: 19px;
      /* identical to box height */
      z-index: 1;
      letter-spacing: 0.05em;
      color: rgba(255, 255, 255, 0.6);

      @keyframes anim {
        from {
          bottom: -100%;
        }
        to {
          bottom: 0;
        }
      }

      button {
        color: white !important;
        font-size: 1.88vh;
        width: 70%;
        height: 4.83vh;
        margin-left: 50px;
        margin-right: 50px;
        background-color: rgb(0, 0, 0);
        border: 1px solid #ffffff;
        box-sizing: border-box;
        border-radius: 4.12vh;
        text-transform: uppercase;
        cursor: pointer;
        transition: filter 1s, background-color 0.3s, opacity 0.5s;

        &:hover {
          background-color: rgb(33, 33, 33);
        }
      }
    }
  }

  .posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .blog-post {
      width: 19%;
      margin-right: 2%;
      margin-bottom: 25px;
      height: 55vh;
      &:hover {
        -webkit-box-shadow: 0px 0px 20px 2px rgba(161, 161, 161, 1);
        -moz-box-shadow: 0px 0px 20px 2px rgba(161, 161, 161, 1);
        box-shadow: 0px 0px 20px 2px rgba(161, 161, 161, 1);
      }

      .image-wrapper {
        height: 50%;
        img {
          height: 100%;
          width: 100%;
          border-radius: 5px 5px 0 0;
          object-fit: cover;
        }
      }

      .blog-post-text-block {
        height: 49%;
        background-color: rgb(255, 255, 255);
        line-height: unset;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        padding: 0 2%;

        .blog-post-title {
          font-family: Roboto;
          font-style: normal;
          font-weight: bold;
          font-size: 22px;
          padding-bottom: 4%;
          letter-spacing: 0.02em;
        }

        .blog-post-title a {
          color: #000000 !important;
          cursor: default;
        }

        .blog-post-body {
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 2.2vh;
          letter-spacing: 0.02em;
          color: rgba(0, 0, 0, 0.7);
        }
      }

      .blog-post-icons {
        text-align: right;
        font-size: 1.8vh;
        padding: 0 5%;
        color: rgba(255, 255, 255, 0.3);

        span {
          margin-left: 3%;
        }

        span#comments {
          margin-right: 6%;
        }

        img {
          height: 1.8vh;
        }
      }
    }
  }

  .blog-posts-pagination {
    margin-top: 1vh;
    margin-bottom: 15vh;
    text-align: center;
    font-family: "Roboto";
    font-size: 2.8vh;

    span {
      color: white;
    }

    .previous {
      margin-right: 1%;
    }

    .next {
      margin-left: 1%;
    }

    .page {
      display: inline-block;
      box-sizing: content-box;
      width: 3vw;
      height: 3vw;
      text-align: center;
      line-height: 3vw;
      background: #afafaf;
      border-radius: 31px;
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      margin: 0 0.2%;
    }

    .current {
      border-radius: 37px;
      background: #f42b24;
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  .no-posts-text {
    text-align: center;
    font-size: 10vh;
    padding-bottom: 5vh;
  }
}
