#blog {
  .blog-post-container {
    padding-top: 12vh;
    width: 100vw;

    .post-photo {
      height: 85vh;
      width: 100vw;
      padding-bottom: 10vh;

      img {
        height: 100%;
      }
    }

    .post-body {
      margin-left: 15%;
      margin-right: 15%;

      .title {
        color: #FFFFFF;
        font-size: 7vh;
        padding-bottom: 5vh;
      }

      .body {
        color: rgba(255, 255, 255, 0.3);
        padding-bottom: 15vh;
      }

      #disqus_thread {
        padding-bottom: 10vh;
      }
    }
  }
}

