.blog-header
  = render 'welcome/header'

.blog-image-container
  = render 'shared/blog_header'
  .container
    - if @posts.any?
      .blog-posts-container.row
        = render partial: 'post', collection: @posts, as: :post
    - else
      .no-posts-text There are no posts here.

= render 'welcome/footer'


