#why-us {
  padding-left: 0;
  padding-right: 0;
  background-color: #f5f5f5;
  padding-bottom: calc(37px * var(--font-size-offset));
  overflow: hidden;

  .right-vertikal-line {
    border-right: 1px solid #bfbfbf;
  }

  .z-index-103 {
    z-index: 103;
  }

  .position-relative {
    position:relative;
  }

  .z-index {
    z-index: 102;
  }

  .margin-right-30 {
    margin-right: calc(30px * var(--font-size-offset));
  }

  .height-500 {
    height: calc(500px * var(--font-size-offset));
  }

  .top-16 {
    top: calc(16px * var(--font-size-offset));
  }

  .why-us-number {
    width: calc(312px * var(--font-size-offset));
    height: calc(210px * var(--font-size-offset));
    margin-bottom: calc(100px * var(--font-size-offset));
    text-shadow: 5px 6px 15px rgba(0, 0, 0, 0.15);
    color: #ffffff;
    font-family: Roboto;
    font-size: calc(315px * var(--font-size-offset));
    font-weight: bold;
    text-transform: uppercase;
    margin-top: calc(30px * var(--font-size-offset));
    position: relative;
    top: 90px;
    margin-left: calc(-31px * var(--font-size-offset));
    margin-right: calc(-158px * var(--font-size-offset));
  }

  .tech-title { margin-bottom: calc(54px * var(--font-size-offset)); }

  .tech-title {
    font-size: calc(40px * var(--font-size-offset));
    text-transform: uppercase;
    text-align: left;
    color: #585858;
    font-family: 'Roboto';
  }

  h2.why-us {
    font-size: calc(44px * var(--font-size-offset));
    text-transform: uppercase;
    text-align: left;
    color: #585858;
    font-family: 'Roboto';
    height: calc(120px * var(--font-size-offset));
    width: 70%;

  }

  .advantages-item h3 {
    color: #106a9f;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto-Bold';
    font-size: calc(30px * var(--font-size-offset));
    padding-top: calc(22px * var(--font-size-offset));
  }

  .advantages-item p {
    font-family: 'Roboto-Bold';
    color: #6c7a89;
    font-size: calc(20px * var(--font-size-offset));
    letter-spacing: 0.44px;
    padding-top: calc(6px * var(--font-size-offset));
  }

  .image-why-us { background: url(image_path('advantages/layer_1.png')) no-repeat }

  .circle-format {
    width: calc(367px * var(--font-size-offset));
    height: calc(367px * var(--font-size-offset));
    position: absolute;
    left: calc(269px * var(--font-size-offset));
    top: calc(-176px * var(--font-size-offset));
    z-index: 1;
  }

  .advantages-button {
    background-color: #f50808;
    border-radius: 28px;
    border: none;
    width: calc(195px * var(--font-size-offset));
    height: calc(55px * var(--font-size-offset));
    font-size: calc(18px * var(--font-size-offset));
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    left: 50%;
    top: calc(-28px * var(--font-size-offset));
    z-index: 104;
    font-family: "Roboto-Bold";
    outline: none !important;
  }

  .advantages-button:hover {
    background-color: #ef4836;
    outline: none;
  }

  .button-advantages-right,
  .button-advantages-left {
    background-color: #f5f5f5;
    border-radius: 50%;
    width: calc(88px * var(--font-size-offset));
    height: calc(70px * var(--font-size-offset));
    position: relative;
    top: 4px;
    z-index: 104;
    outline: none !important;
    font-size: calc(35px * var(--font-size-offset));
    padding: calc(8px * var(--font-size-offset));
    border: 2px solid #0075b8;
    color: #0075b8;
  }

  .button-advantages-right:hover,
  .button-advantages-left:hover {
    color: #fff;
    background-color: #0075b8;
  }

  .advantages-header {
    display: flex;
    flex-shrink: 0
  }

  .advantages-body {
    padding-top: calc(46px * var(--font-size-offset));
    padding-left: calc(24px * var(--font-size-offset));

    .advantage-item {
      margin-bottom: calc(60px * var(--font-size-offset));

      .img-and-title {
        display: inline-block;

        .title {
          color: #106a9f;
          text-transform: uppercase;
          font-weight: bold;
          font-size: calc(28px * var(--font-size-offset));
        }
        
        img {
          width: calc(111px * var(--font-size-offset));
        }

        .img-mb {
          margin-right: calc(12px * var(--font-size-offset));
          width: calc(90px * var(--font-size-offset));
        }
      }

      .text {
        font-family: 'Roboto-Bold';
        color: #6c7a89;
        font-size: calc(20px * var(--font-size-offset));
        letter-spacing: 0.44px;
      }

      .indent {
        text-indent: calc(98px * var(--font-size-offset));
        position: relative;
        top: calc(-25px * var(--font-size-offset));
      }

      .indent2 {
        text-indent: calc(124px * var(--font-size-offset));
        position: relative;
        top: calc(-25px * var(--font-size-offset));
      }

      .indent3 {
        text-indent: calc(110px * var(--font-size-offset));
        position: relative;
        top: calc(-25px * var(--font-size-offset));
      }
    }
  }

  .advantages-title {
    position: relative;
    display: inline;
    top: calc(205px * var(--font-size-offset));
    left: calc(-8px * var(--font-size-offset));
    line-height: calc(48px * var(--font-size-offset));
  }

  .advantages-item.img1 {margin-right: 72px;}
  .advantages-item.img3 {
    margin-right: calc(64px * var(--font-size-offset));
    width: calc(90px * var(--font-size-offset));
  }

  .frameworks {
    background-color: #fff;
    width: 100%;
    height: calc(200px * var(--font-size-offset));
    display: flex;
    flex-shrink: 0;
  }

  .frameworks-format {
    margin-right: calc(153px * var(--font-size-offset));
    flex-shrink: 1;
    padding-top: calc(72px * var(--font-size-offset));
  }
  .react {
    width: 199px;
    height: 129px;
    margin-top: 36px;
  }

  .rails {
    width: 188px;
    height: 83px;
    margin-top: 40px;
  }

  .postgresql {
    width: 333px;
    height: 76px;
    margin-top: 46px;
  }

  .ionic {
    width: 217px;
    height: 80px;
    margin-top: 49px;
  }

  .redux {
    width: 229px;
    height: 75px;
    margin-top: 64px;
  }

  .node {
    width: 217px;
    height: 107px;
    margin-top: 52px;
  }

  .angular {
    width: 214px;
    height: 80px;
    margin-top: 58px;
  }

  .typescript {
    width: 214px;
    height: 67px;
    margin-top: 63px;
  }

  .ember {
    width: 214px;
    height: 67px;
    margin-top: 58px;
  }

  .mongo {
    width: 214px;
    height: 67px;
    margin-top: 58px;
  }

  .less {
    width: 185px;
    height: 64px;
    margin-top: 64px;
  }

  .sass {
    width: 159px;
    height: 78px;
    margin-top: 54px;
  }

  .coffee {
    width: 269px;
    height: 67px;
    margin-top: 65px;
  }

  .jquery {
    width: 214px;
    height: 67px;
    margin-top: 65px;
  }

  .framew { margin-right: 90px; }

  .framew:last-child {
    margin-right: 0;
  }

  h4.arrow-color {
    color: #0075b8;
    font-size: 50px;
    padding: 6px 0 0px 23px;
  }

  h4.arrow-color:hover {
    color: #fff;
    font-size: 50px;
    font-family: 'Roboto';
    padding: 6px 0 0px 23px;
  }

  .advantages-line-w {
    border-bottom: 2px solid #bfbfbf;
    width: 300px;
    height: 2px;
    display: inline-block;
    position: relative;
    flex-shrink: 1;
    top: 211px;
    left: 1%;
    top: 246px;
  }
  // slider
  #slider {
    width: 100%;
    height: 200px;
  }

  #polosa {
    width: 500rem;
    position: relative;
  }

  #polosa img {
    float: left;
  }

  #polosa::after {
    content: "";
    display: block;
    clear: both;
  }
  // arrow
  .tech {
    padding-top: 170px;
    width: 100%;
    display: flex;

  }
  .arrow-item {
    width: 1px;
    position: relative;
    flex-shrink: 0
  }
  .left-arrow {
    margin-right: 35px;
    background: url(image_path('advantages/left-arrow.png')) no-repeat;
    background-position: 29px 29px;
  }

  .right-arrow {
    background: url(image_path('advantages/right-arrow.png')) no-repeat;
    background-position: 29px 29px;
  }

  .left-arrow,
  .right-arrow {
    width: 80px;
    height: 80px;
    border: 2px solid #0075b8;
    display: inline-block;
    border-radius: 50%;
  }

  .left-arrow:hover {
    background: url(image_path('advantages/left-arrow(w).png')) no-repeat;
    background-position: 29px 29px;
    background-color: #0075b8;
  }

  .right-arrow:hover {
    background: url(image_path('advantages/right-arrow(w).png')) no-repeat;
    background-position: 29px 29px;
    background-color: #0075b8;
  }

  .advantages-line {
    border-bottom: 2px solid #bfbfbf;
    width: 35%;
    height: 2px;
    display: inline-block;
    position: relative;
    top: 41px;
    flex-shrink: 1;
  }

  .advantages-line-right {
    border-bottom: 2px solid #bfbfbf;
    width: 14%;
    height: 2px;
    display: inline-block;
    position: relative;
    top: 41px;
    left: 19px;
    flex-shrink: 1;
  }

  // new style

  .statue {
    width: calc(750px * var(--font-size-offset));
    height: auto;
    position: relative;
    top: calc(-210px * var(--font-size-offset));
    left: calc(-160px * var(--font-size-offset));
    z-index: 100;
  }

  .underline {
    border-bottom: 2px solid #bfbfbf;
    width: 23%;
    height: 2px;
    display: inline-block;
    position: relative;
    top: 107px;
    flex-shrink: 1;
    transform: rotate(90deg);
    left: 29%;
  }
}