#why-us {
  padding-left: 0;
  padding-right: 0;
  background-color: #f5f5f5;
  padding-bottom: 37px;
  overflow: hidden;

  .z-index-103 {
    z-index: 103;
  }

  .position-relative {
    position:relative;
  }

  .z-index {
    z-index: 102;
  }

  .margin-right-30 {
    margin-right: 30px;
  }

  .height-500 {
    height: 500px;
  }

  .top-16 {
    top: 16px;
  }

  .why-us-number {
    width: 312px;
    height: 210px;
    margin-bottom: 100px;
    text-shadow: 5px 6px 15px rgba(0, 0, 0, 0.15);
    color: #ffffff;
    font-family: Roboto;
    font-size: 315px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 30px;
    position: relative;
    top: 90px;
    margin-left: -31px;
    margin-right: -158px;
  }

  .tech-title { margin-bottom: 54px; }

  .tech-title {
    font-size: 40px;
    text-transform: uppercase;
    text-align: left;
    color: #585858;
    font-family: 'Roboto';
  }

  h2.why-us {
    font-size: 44px;
    text-transform: uppercase;
    text-align: left;
    color: #585858;
    font-family: 'Roboto';
    height: 120px;
    width: 70%;

  }

  .advantages-item h3 {
    color: #106a9f;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto-Bold';
    font-size: 30px;
    padding-top: 22px;
  }

  .advantages-item p {
    font-family: 'Roboto-Bold';
    color: #6c7a89;
    font-size: 20px;
    letter-spacing: 0.44px;
    padding-top: 6px;
  }

  .image-why-us { background: url(image_path('advantages/layer_1.png')) no-repeat }

  .advantages-button {
    background-color: #f50808;
    border-radius: 28px;
    border: none;
    width: 195px;
    height: 55px;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    left: 50%;
    top: -28px;
    z-index: 104;
    font-family: "Roboto-Bold";
    outline: none !important;
  }

  .advantages-button:hover {
    background-color: #ef4836;
    outline: none;
  }

  .button-advantages-right,
  .button-advantages-left {
    background-color: #f5f5f5;
    border-radius: 50%;
    width: 88px;
    height: 70px;
    position: relative;
    top: 4px;
    z-index: 104;
    outline: none !important;
    font-size: 35px;
    padding: 8px;
    border: 2px solid #0075b8;
    color: #0075b8;
  }

  .button-advantages-right:hover,
  .button-advantages-left:hover {
    color: #fff;
    background-color: #0075b8;
  }

  .advantages-header {
    display: flex;
    flex-shrink: 0
  }

  .advantages-body {
    padding-top: 46px;
    padding-left: 24px;

    .advantage-item {
      margin-bottom: 60px;

      .img-and-title {
        display: inline-block;

        .title {
          color: #106a9f;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 30px;
        }

        .img-mb {
          margin-right: 12px;
        }
      }

      .text {
        font-family: 'Roboto-Bold';
        color: #6c7a89;
        font-size: 20px;
        letter-spacing: 0.44px;
      }

      .indent {
        text-indent: 98px;
        position: relative;
        top: -25px;
      }

      .indent2 {
        text-indent: 124px;
        position: relative;
        top: -25px;
      }

      .indent3 {
        text-indent: 110px;
        position: relative;
        top: -25px;
      }
    }
  }

  .advantages-title {
    position: relative;
    display: inline;
    top: 205px;
    left: -8px;
    line-height: 48px;
  }

  .advantages-item.img1 {margin-right: 72px;}
  .advantages-item.img3 {
    margin-right: 64px;
  }

  .frameworks {
    background-color: #fff;
    width: 100%;
    height: 200px;
    display: flex;
    flex-shrink: 0;
  }

  .frameworks-format {
    margin-right: 153px;
    flex-shrink: 1;
    padding-top: 72px;
  }
  .react {
    width: 199px;
    height: 129px;
    margin-top: 36px;
  }

  .rails {
    width: 188px;
    height: 83px;
    margin-top: 40px;
  }

  .postgresql {
    width: 333px;
    height: 76px;
    margin-top: 46px;
  }

  .ionic {
    width: 217px;
    height: 80px;
    margin-top: 49px;
  }

  .redux {
    width: 229px;
    height: 75px;
    margin-top: 64px;
  }

  .node {
    width: 217px;
    height: 107px;
    margin-top: 52px;
  }

  .angular {
    width: 214px;
    height: 80px;
    margin-top: 58px;
  }

  .typescript {
    width: 214px;
    height: 67px;
    margin-top: 63px;
  }

  .ember {
    width: 214px;
    height: 67px;
    margin-top: 58px;
  }

  .mongo {
    width: 214px;
    height: 67px;
    margin-top: 58px;
  }

  .less {
    width: 185px;
    height: 64px;
    margin-top: 64px;
  }

  .sass {
    width: 159px;
    height: 78px;
    margin-top: 54px;
  }

  .coffee {
    width: 269px;
    height: 67px;
    margin-top: 65px;
  }

  .jquery {
    width: 214px;
    height: 67px;
    margin-top: 65px;
  }

  .framew { margin-right: 90px; }

  .framew:last-child {
    margin-right: 0;
  }

  h4.arrow-color {
    color: #0075b8;
    font-size: 50px;
    padding: 6px 0 0px 23px;
  }

  h4.arrow-color:hover {
    color: #fff;
    font-size: 50px;
    font-family: 'Roboto';
    padding: 6px 0 0px 23px;
  }

  // slider
  #slider {
    width: 100%;
    height: 200px;
  }

  #polosa {
    width: 500rem;
    position: relative;
  }

  #polosa img {
    float: left;
  }

  #polosa::after {
    content: "";
    display: block;
    clear: both;
  }
  // arrow
  .tech {
    padding-top: 170px;
    width: 100%;
    display: flex;

  }
  .arrow-item {
    width: 1px;
    position: relative;
    flex-shrink: 0
  }
  .left-arrow {
    margin-right: 35px;
    background: url(image_path('advantages/left-arrow.png')) no-repeat;
    background-position: 29px 29px;
  }

  .right-arrow {
    background: url(image_path('advantages/right-arrow.png')) no-repeat;
    background-position: 29px 29px;
  }

  .left-arrow,
  .right-arrow {
    width: 80px;
    height: 80px;
    border: 2px solid #0075b8;
    display: inline-block;
    border-radius: 50%;
  }

  .left-arrow:hover {
    background: url(image_path('advantages/left-arrow(w).png')) no-repeat;
    background-position: 29px 29px;
    background-color: #0075b8;
  }

  .right-arrow:hover {
    background: url(image_path('advantages/right-arrow(w).png')) no-repeat;
    background-position: 29px 29px;
    background-color: #0075b8;
  }

  .advantages-line {
    border-bottom: 2px solid #bfbfbf;
    width: 35%;
    height: 2px;
    display: inline-block;
    position: relative;
    top: 41px;
    flex-shrink: 1;
  }

  .advantages-line-right {
    border-bottom: 2px solid #bfbfbf;
    width: 14%;
    height: 2px;
    display: inline-block;
    position: relative;
    top: 41px;
    left: 19px;
    flex-shrink: 1;
  }

  // new style
  .statue {
    width: 750px;
    height: auto;
    position: relative;
    top: -210px;
    left: -160px;
  }

  .underline {
    border-bottom: 2px solid #bfbfbf;
    width: 23%;
    height: 2px;
    display: inline-block;
    position: relative;
    top: 107px;
    flex-shrink: 1;
    transform: rotate(90deg);
    left: 29%;
  }

  @media screen and (max-width: 1223px) {
    span.title {
      font-size: 20px;
    }
    .go {position: relative; top: 17px}
    p.text {
      font-family: 'Roboto-Bold';
      color: #6c7a89;
      font-size: 15px;
      letter-spacing: 0.44px;
    }
  }

  @media screen and (max-width: 1201px) {
    .statue {
      width: 700px;
    }
  }

  @media screen and (max-width: 1199px) {
    .underline {
      border-bottom: 2px solid #bfbfbf;
      width: 28%;
      height: 2px;
      display: inline-block;
      position: relative;
      top: 107px;
      flex-shrink: 1;
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
      left: 25%;
    }
  }

  @media screen and (max-width: 1111px) {
    .statue {
      width: 650px;
    }
  }

  @media screen and (max-width: 992px) {
    .statue {
      width: 600px;
      top: -300px;
    }
  }

  @media screen and (max-width: 991px) {
    .underline {
      border-bottom: 2px solid #bfbfbf;
      width: 37%;
      height: 2px;
      display: inline-block;
      position: relative;
      top: 108px;
      flex-shrink: 1;
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
      left: 7%
    }
    .advantages-button {
      background-color: #f50808;
      border-radius: 28px;
      border: none;
      width: 195px;
      height: 55px;
      font-size: 18px;
      color: #fff;
      font-weight: bold;
      text-transform: uppercase;
      position: relative;
      left: 41%;
      top: -28px;
      z-index: 104;
      font-family: "Roboto-Bold";
      outline: none !important;
    }

  }

  @media screen and (max-width: 538px) {
    .line_1 {
      position: absolute;
      z-index: 102;
      right: 10%;
      height: 1954px;
    }
  }

  @media screen and (max-width: 533px) {
    .line_1 {
      position: absolute;
      z-index: 102;
      right: 11%;
      height: 1954px;
    }
  }

  .line_1 {
    position: absolute;
    z-index: 102;
    right: 17%;
    height: 1954px;
  }
}
