@font-face {
  font-family: "BebasLight";
  src: asset-url("fonts/BebasLight.eot");
  src: asset-url("fonts/BebasLight.eot?#iefix") format("embedded-opentype"), asset-url("fonts/BebasLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}


@font-face {
  font-family: "BebasBold";
  src: asset-url("fonts/BebasBold.eot");
  src: asset-url("fonts/BebasBold.eot?#iefix") format("embedded-opentype"), asset-url("fonts/BebasBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}


@font-face {
  font-family: "BebasRegular";
  src: asset-url("fonts/BebasRegular.eot");
  src: asset-url("fonts/BebasRegular.eot?#iefix") format("embedded-opentype"), asset-url("fonts/BebasRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}


@font-face {
  font-family: "Roboto-Thin";
  src: asset-url("fonts/roboto/Roboto-Thin.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Roboto-Light";
  src: asset-url("fonts/roboto/Roboto-Light.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Roboto-Regular";
  src: asset-url("fonts/roboto/Roboto-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: asset-url("fonts/roboto/Roboto-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Roboto-Medium";
  src: asset-url("fonts/roboto/Roboto-Medium.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Roboto-Bold";
  src: asset-url("fonts/roboto/Roboto-Bold.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Roboto-Black";
  src: asset-url("fonts/roboto/Roboto-Black.ttf");
  font-display: swap;
}
