@font-face {
  font-family: "Roboto-Thin";
  src: asset-url("fonts/roboto/Roboto-Thin.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Roboto-Light";
  src: asset-url("fonts/roboto/Roboto-Light.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Roboto-Regular";
  src: asset-url("fonts/roboto/Roboto-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: asset-url("fonts/roboto/Roboto-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Roboto-Medium";
  src: asset-url("fonts/roboto/Roboto-Medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Roboto-Bold";
  src: asset-url("fonts/roboto/Roboto-Bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Roboto-Black";
  src: asset-url("fonts/roboto/Roboto-Black.woff2") format("woff2");
  font-display: swap;
}
