footer {
  background-color: #2d2d2d;
  color: #ffffff;
  z-index: 5;

  p {
    font-family: "Roboto-Light";
    font-size: calc(20px * var(--font-size-offset));
  }

  a {
    font-family: "Roboto-Light";
    &:hover {
      font-family: "Roboto-Light";
    }
    &:focus {
      font-family: "Roboto-Light";
    }
  }

  section {
    padding-top: calc(100px * var(--font-size-offset));
  }

  .form {
    form {
      margin-bottom: 0px;
      margin-top: calc(65px * var(--font-size-offset));
    }
    .form-control {
      border-radius:2rem;
    }
    input {
      color: #fff;
      font-size: calc(20px * var(--font-size-offset));
      height: calc(45px * var(--font-size-offset));
      border: 2px solid #fff;
      background-color: transparent;
      padding-left: calc(25px * var(--font-size-offset));
      &:focus {
        color: #fff;
        border: 2px solid #0075b8;
        background-color: #28343b;
      }
      &::placeholder {
        color: #ffffff;
      }
      &[name="message"] {
        margin: 20px 50px 50px 0px;
      }
    }

    .btn-contact {
      font-size: calc(20px * var(--font-size-offset));
      height: calc(50px * var(--font-size-offset));
      width: 100%;
      border: none;
      border-radius: 2.5rem;
      padding: 1.5%;
      font-weight: 600;
      color: #fff;
      background-image: linear-gradient(to top, #ff643a 0%, #f50808 100%);
    }
  }
  .text-striped {
    border-right: thick solid #0075b8;
    font-family: "Roboto-Medium";
    .first-text {
      color: rgb(204,204,204);
      font-weight: 800;
      font-size: calc(35px * var(--font-size-offset));
      letter-spacing: calc(2px * var(--font-size-offset));
    }
    .second-text {
      letter-spacing: calc(2px * var(--font-size-offset));
      font-weight: 600;
      font-size: calc(50px * var(--font-size-offset));
    }
  }
  .credentials {
    color: #e0e0e0;
    font-size: calc(20px * var(--font-size-offset));
    font-family: "Roboto-Light";
    font-weight: 600;
    a {
      color: #e0e0e0;
      text-decoration: none;
    }
    .group {
      margin-bottom: 3%;
    }
  }
  .copyright {
    margin-top: 6%;
    margin-bottom: 4%;
    font-size: calc(18px * var(--font-size-offset));
    color: rgb(139,139,139);
    font-family: "Roboto-Bold";
  }

  .social-network {
    font-size: 1rem;
    margin-top: calc(50px * var(--font-size-offset));
    .fa-stack {
      margin-right: calc(10px * var(--font-size-offset));
    }
    .fa-stack:hover {
      .fa-circle {
        color: #0075b8;
      }
    }
    .inside-icon {
      color: #2d2d2d;
    }
    .fa-circle {
      color: #fff;
    }
  }
  .right-block {
    margin-left: 5%;
    font-family: "Roboto-Regular";
    .normal {
      font-size: calc(25px * var(--font-size-offset));
    }
    .big-blue {
      font-size: calc(55px * var(--font-size-offset));
      color: #0075b8;
    }
    .big-red {
      font-size: calc(55px * var(--font-size-offset));
      color: #f60e0b;
    }
  }
}
