#how-we-work {
  .container {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .how-we-work {
    margin: 0px;
    padding: 0px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .text-container {
    margin-left: 38%;
    width: 50px; 
    height: 34px;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
  }

  .trace {
    margin-top: 30%;
    border: solid 1px white;
    width: 90%;
  }

 .trace_bottom {
    margin-top: 15%;
    border: solid 2px white;
    width: 90%;
   
 }

  .serve-block {
    padding-top: 90px;
    padding-bottom: 80px;
    margin-bottom: 0px;
    background-color: #f5f5f5;
    font-family: Roboto;
    font-weight: 600;
  }

  .wrraper {
    margin: 0 auto;
    max-width: 1006px;
  }

  .serve-block-header {
    display: inline-block;
    width: 100%;
    color: #999999;
    font-size: 60px;
    text-transform: uppercase;
    margin-bottom: 45px;
  }

  .serve-block-text {
    display: inline-block;
    color: #232323;
    font-size: 30px;
    line-height: 1.2; 
    text-align: center;
  }

  .top-image {
    z-index: 2;
    text-align: center;
  }

  .circle-number {
    font-size: 55px; 
    width: 80px; 
    height: 80px; 
    border: 2px solid #bfbfbf; 
    border-radius: 45px; 
    text-align: center; 
    margin: auto; 
    margin-top: 20px;
    font-family: Roboto;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.37px;
  }

  .caption {
    width: 100%;
    margin-top: 40%;
    color: #f5f5f5;
    font-family: "Roboto - Black";
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.3px;
  }

  .text {
    text-align: center;
    margin: auto; 
    width: 380px;
    height: 58px;
    color: #f5f5f5;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5%;
  }

  .block-container, .block-container div { 
    width: 380px;
    height: 380px; 
  }

  .block-container div, .block-container img { position: absolute; width: 100%; }
  .block-container img {z-index: 1;}
  .block-front {
    z-index: 2;
    background-color: #0075b8;
    transition: all 0.4s ease-in-out 0s;
    opacity: 0;
    color: white;
    cursor: pointer;
  }
  .block-front:hover { opacity: 0.8; }
  .block-front h1 {
    display: block;
    font-weight: bold;
    text-align: center;
    font-family: Roboto;
  }
}