body {overflow-x: hidden;}
@import "styles-config.scss";

#paralax {
  color: #FFF;
  background-color: #000;
  height: 100%;
  
  * {
    margin: unset;
  }

  .content-container {
    height: 100vh;
    width: ($number-of-pages * 100%) * 1;
    z-index: $content-layer;
    display: flex;
  }

  //*scroll content pages
  @for $i from 0 through $number-of-pages {
    .content-page-#{$i} {
      z-index: $content-layer;
      width: 100vw;
      height: 100vh;
    }
  }

  //*header
  header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 11.78vh;
    z-index: $nav-layer - 1;

    .main-logo {
      margin: 3.89vh 0 0 8vh;
      height: 7vh;
    }    

    .contact-us-btn {
      font-size: 1.88vh;
      position: fixed;
      width: 19.43vh;
      height: 4.82vh;
      right: 22.61vh;
      top: 5.18vh;
      background-color: rgba(0, 0, 0, 0);
      border: 0.12vh solid #FFFFFF;
      box-sizing: border-box;
      border-radius: 4.12vh;
      text-transform: uppercase;
      cursor: pointer;
      filter: blur(0px);
      transition: filter 1s;
      transition: background-color .3s;
    }

    .contact-us-btn:hover {
      background-color: rgba(50,50,50,.5);
      transition: background-color .3s;
    }
  }

  //*navbar
  .navbar-btn {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    right: 0;
    top: 0;
    padding: 4vh;
    height: 12vh;
    width: 12vh;
    background-color: #F42B24;
    z-index: $nav-layer + 1;
    border-radius: 0 0 0 2.36vh;
    transition: .5s;
    cursor: pointer;
  }

  .navbar-btn:hover {
    background-color: #B30C06;
    transition: .5s;
  }

  .navbar-btn:active {
    background-color: #F42B24;
    transition: .1s;
  }

  .navbar-btn span {
    display: block;
    width: 4vh;
    height: 0.35vh;
    background: #fff;
    transition: background 0s 0.3s;
  }

  .navbar-btn span::before,
  .navbar-btn span::after {
    display: block;
    position: absolute;
    width: 4vh;
    height: 0.35vh;
    background-color: #fff;
    content: "";
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
  }

  .navbar-btn span::before {
    transition-property: top, transform;
    top: 4.5vh;
  }

  .navbar-btn span::after {
    transition-property: bottom, transform;
    bottom: 4.5vh;
  }

  //*state with opened navbar
  .navbar-btn.active span {
    background: none;
  }

  .navbar-btn.active span::before {
    transform: rotate(45deg);
    top: 5.825vh;
  }

  .navbar-btn.active span::after {
    transform: rotate(-45deg);
    bottom: 5.825vh;
  }

  .navbar-btn.active span::before,
  .navbar-btn.active span::after {
    transition-delay: 0s, 0.3s;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0;

    height: 100vh;
    width: 42.64vh;
    background: rgba(1, 0, 0, 0.7);
    box-shadow: 0vh -0.24vh 1.18vh rgba(0, 0, 0, 0.25);
    z-index: $nav-layer;
    transition: 1s;
    padding-right: 2vw;

    ul {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 2.12vh;
      line-height: 7.42vh;
      text-align: justify;
      text-transform: uppercase;
      list-style-type: none;
    }

    li {
      cursor: pointer;
    }

    li a {      
      color: #555;
    }

    li:hover a {
      color: #FFF;      
      text-decoration: none;
    }
  }

  nav.hiden {
    position: fixed;
    right: -42.64vh;
    transition: 1s;
  }

  .arrow {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 15.31vh;
    z-index: $nav-layer;
    cursor: pointer;

    img {
      animation-name: opacity-pulse;
      animation-duration: 1s;
      animation-direction: alternate;
      animation-iteration-count: infinite;
      opacity: 0;
      animation-delay: 2s;
      transition: opacity ease-in-out .3s;
    }
  }

  .arrow-left {
    left: 0;
    img {
      transform: rotate(180deg);
    }
  }

  .arrow-right {
    right: 0;
    img {      
      animation-delay: 2.3s;
    }
  }

  .arrow:hover {
    img {
      opacity: 1;
      animation: none;
      transition: opacity .3s;
    }
  }

  @keyframes opacity-pulse {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  //*circular-progress
  .perfect-circle {
    position: fixed;
    z-index: 99;
    right: 5.89vh;
    bottom: 3.53vh;
    filter: blur(0px);
    transition: filter 1s;
    canvas {
      max-width: 9.07vh;
      max-height: 9.07vh;
      min-width: 9.07vh;
      min-height: 9.07vh;
    }
  }

  //*home
  .content-page-1 {
    img {
      margin-left: 25.7vw;
      margin-top: 39vh;
      width: 68.43vh;
      height: 17.43vh;
    }

    .text {
      margin-left: 26vw;
      margin-top: 1vh;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 2.12vh;
      line-height: normal;
      text-transform: uppercase;
      color: #FFFFFF;
      width: 53vh;
    }

    #portfolio-btn {
      font-size: 1.88vh;
      margin-left: 26vw;
      margin-top: 4vh;
      width: 19.43vh;
      height: 4.83vh;
      border: 0.12vh solid #FFFFFF;
      box-sizing: border-box;
      border-radius: 4.12vh;
      background-color: rgba(0,0,0,0);
      text-transform: uppercase;    
      cursor: pointer;
      transition: background-color .3s;
      z-index: 5;
    }

    #portfolio-btn:hover {
      background-color: rgba(50,50,50,.3);
      transition: background-color .3s;
    }
  }

  //*about us
  .content-page-2 {
    display: flex;
    justify-content: center;
    align-items: center;

    div.about-us {
      display: flex;
      justify-content: space-around;
      align-items: center;

      height: 80vh;
      width: 80vw;

      div:first-child {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 100%;
        width: 46%;

        img {
          height: 56vh;
        }
      }   

      div:last-child {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

        font-family: Roboto;
        font-style: normal;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: #FFFFFF;
        cursor: default;

        height: 100%;
        width: 40%;

        h1 {
          font-size: 4.24vh;
          white-space: nowrap;
        }

        img {
          width: 2.36vh;
          height: 2.6vh;
        }

        span.t1 {
          font-weight: 900;
          font-size: 2vh;
          margin-right: 0.5vw;

        }

        span.t2 {
          font-weight: 900;
          font-size: 5.4vh;
          margin-right: 0.5vw;
          color: #F42B24;
        }

        span.t3 {
          font-weight: 500;
          font-size: 2vh;
        }

        span.t4 {
          position: relative;
          display: inline-block;
          font-family: 'fontello';
          margin-left: 1vw;
          top: 2vh;
          font-size: 4vh;
        }

        span.t5 {
          font-weight: 900;
          font-size: 6.7vh;
          line-height: 5vh;
          margin-right: 0.5vw;
          color: #F42B24;
          display: inline-block;
        }

        span.t6 {
          font-weight: 500;
          font-size: 3vh;
        }

        p {
          cursor: default;
          margin-top: 5vh;
          margin-bottom: 4vh;
          font-weight: normal;
          font-size: 1.8vh;
          line-height: normal;
          text-align: left;
          text-transform: none;
          letter-spacing: 0.22vh;
        }
      }      
    }
  }

  //*services
  .content-page-3 {
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
      display: flex;
      flex-wrap: wrap;
      width: 48vw;
      min-width: 48vw;
      // margin-left: 2vw;

      div {        
        display: flex;
        flex-direction: column;
        flex: 1;

        margin: 5vh 1.125vw;
        min-width: 11vw;

        h3 {
          text-transform: uppercase;
          margin-bottom: 2vh;
          font-size: 2.36vh;
        }

        p {
          font-family: Roboto;
          font-style: normal;
          font-weight: 500;
          font-size: 1.88vh;
          line-height: normal;
          color: rgba(255, 255, 255, 0.4);
        }
      }
    }
  }

  //*portfolio
  .content-page-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    div.title {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 28vw;
      // margin-right: 214vh;
      height: 8vh;
      border-radius: 23.67vh;
      margin-top: 5vh;
      margin-bottom: 2.36vh;
      background-color: #333;

      transition: .8s;

      div.text {
        // margin-right: 11vw;
        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 3.9vh;
        line-height: 4.36vh;
        letter-spacing: 0.05em;
        text-transform: uppercase;

        color: #FFFFFF;
      }
    }

    /* for animated title */
    // div.title.mini {
    //   justify-content: center;
    //   width: 15vw;
    //   margin-right: 0vw;
    //   transition: .8s;

    //   div.text {
    //     margin-right: 0vw;
    //   }
    // }

    div.content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      //*carousel portfolio
      .slider {
        width: 73vw;

        .carousel-feature {
          position: relative;

          div.placeholder {
            position: absolute;
            background: rgba(50,50,50,.9);
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            opacity: 0;
            transition: opacity .5s;
            cursor: default;

            .project-name {
              font-size: 4vh;
            }

            div, img {
              width: 80%;
              text-align: center;
            }

            button, a {
              display: flex;
              justify-content: center;
              align-items: center;
              
              background-color: rgba(50,50,50,1);
              color: #FFFFFF;
              border-radius: 4.12vh;
              border: 0.12vh solid #FFFFFF;
              box-sizing: border-box;
              width: 19.43vh;
              height: 4.83vh;
              margin-top: 1.8vh;
              text-decoration: none;
              cursor: pointer;

              font-family: Roboto;
              font-style: normal;
              font-weight: normal;
              font-size: 1.65vh;
              line-height: normal;
              text-align: center;
              text-transform: uppercase;
              transition: background-color .3s;
            }

            button:hover, a:hover {
              background-color: rgba(0, 0, 0, 0.5);
              transition: background-color .3s;
            }
          }   

          div.placeholder:hover {
            opacity: 1;
            transition: opacity .5s;
          }          
        }
      }

      .slick-slide {
        margin: 0vh 0.94vh;
      }

      .slick-slide img {
        width: 100%;
        //border: 0.12vh solid white;
      }

      .carousel-nav-btns {
        width: 100%;
        height: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 4vh;

        .slick-prev:before,
        .slick-next:before {
          font-family: "fontello";
          content: "";
          color: white;          
          font-size: 1.77vh;
          color: gray;
        }

        .slick-next {
          transform: rotate(180deg);
        }

        .slick-prev, .slick-next {
          top: unset;
          right: unset;
          left: unset;
          position: relative;
          display: inline;
          width: 2.36vh;
          height: 2.36vh;
          margin: 0 2.36vh;
        }
        
        .slick-prev {
          order: 1;
        }

        .slick-next {
          order: 3;
        }

        .slick-dots {
          bottom: unset;
          position: unset;
          width: unset;
          display: flex;
          order: 2;

          li {
            bottom: unset;
            background: white;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 0.35vh;
            color: white;
            text-align: center;
            width: 4vh;
            height: 4vh;
            font-size: 2vh;
            background: #1D1D1D;
            box-shadow: inset 0vh 2.83vh 2.83vh rgba(0, 0, 0, 0.25);
            border-radius: 2vh;
            transition: background .3s;
            cursor: pointer;
          }
        }

        .slick-dots li:hover {      
          background: #5F5F5F;
          transition: background .3s;
        }

        .slick-dots li.slick-active {
          color: white;
          font-weight: bold;
          background-color: #F42B24;
          opacity: unset;
        }

        .slick-dots li.slick-active:hover {
          background: red;
        }
      }

      .slick-slide {
        transition: all ease-in-out .3s;
      }

      .slick-slide:hover {
        transition: all ease-in-out .3s;
        cursor: pointer;
      }

      .slick-active { }
      .slick-current { }
    }

    button.show-all-project-btn {
      width: 27.91vh;
      height: 4.83vh;
      background: transparent;
      margin-top: 2vh;

      border: 0.12vh solid #FFFFFF;
      box-sizing: border-box;
      border-radius: 4.12vh;

      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 1.65vh;
      line-height: normal;
      text-align: center;
      letter-spacing: 0.05em;
      text-transform: uppercase;

      color: #FFFFFF;
      transition: background-color .3s;
    }

    button.show-all-project-btn:hover {
      background-color: rgba(50,50,50,.5);
      transition: background-color .3s;
    }
  }

  //*team
  .content-page-5 {
    .tracker-summation-container { display: none; }

    display: flex;
    justify-content: center;
    align-items: center;

    .our-team {
      position: absolute;
      top: -10vh;
      left: 27vw;
      width: 18vw;
      height: 12vh;
      border: 2.36vh solid #F42B24;
      z-index: 5;
      box-sizing: border-box;
      box-shadow: 0vh 0.24vh 0.47vh rgba(0, 0, 0, 0.25);

      p {
        position: absolute;
        margin: -1.95vh 0 0 -1.65vh;
        font-family: "Roboto-bold";
        font-style: normal;
        font-weight: 900;
        font-size: 5.89vh;
        line-height: 6.1vh;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        color: #FFFFFF;
        text-shadow: 0vh 0.24vh 0.47vh rgba(0, 0, 0, 0.25);
      }
    }

    //*carousel team
    .carousel-container {
      position: relative;
      width: 80vw;
      height: 55vh;
    }
    #carousel {
      height:62vh;
      width:80vw;
      position:relative;
      margin-bottom:0.5em;
    }
    .carousel-image {
      border: 0;
      display: block;
    }
    .carousel-feature {
      position: absolute;
      cursor: pointer;
      background: #000;
    }
    .carousel-feature .carousel-caption {
      position: inherit;
      bottom: -7vh;
      left: 0;
      width:100%;
      height: 5vh;
      background-color: rgba(0, 0, 0, 0);

      font-family: "Roboto";
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.03em;
      font-style: normal;

      p:first-child {
        font-size: 1.65vh;
        line-height: 2.24vh;
        color: rgba(255, 255, 255, 0.4);
        font-weight: 500;
      }
      p:last-child {
        font-size: 2.6vh;
        line-height: 3.53vh;
        color: #FFFFFF;
        font-weight: bold;
      }
    }
    //*carousel navigation
    .tracker-summation-container {
      position: absolute;
      color: white;
      padding: 0.35vh;
      margin: 0.35vh;
      background-color: #000;
    }

    .tracker-individual-container {
      color: white;
    }

    .tracker-individual-container li {
      list-style: none;
    }

    .tracker-individual-container .tracker-individual-blip {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 0.35vh;
      color: white;
      text-align: center;
      width: 4vh;
      height: 4vh;
      background: #1D1D1D;
      box-shadow: inset 0px 0.47vh 0.47vh rgba(0, 0, 0, 0.25);
      border-radius: 2vh;
      transition: background .3s;
    }

    .tracker-individual-container .tracker-individual-blip:hover {      
      background: #5F5F5F;
      transition: background .3s;
    }

    .tracker-individual-container .tracker-individual-blip-selected {
      color: white;
      font-weight: bold;
      background-color: #F42B24;
    }

    .tracker-individual-container .tracker-individual-blip-selected:hover {
      background: red;
    }

    .carousel-nav {
      margin-top: 10vh;
      display: flex;
      justify-content: center;
      align-items: center;      
    }

    .carousel-tiny-nav {
      margin-top: -38vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #carousel-left {
      position: inherit;
      cursor: pointer;
    }

    #carousel-right {
      position: inherit;
      cursor: pointer;
    }

    #carousel-tiny-left {
      margin-right: 67vh;
      z-index: 0;
      cursor: pointer;
    }

    #carousel-tiny-right {
      z-index: 0;
      cursor: pointer;
    }
  }

  //*approach
  .content-page-6 {
    display: flex;
    justify-content: center;
    align-items: center;

    div.approach {
      display: flex;
      flex-wrap: wrap;
      width: 80vw;
      margin-top: 6vh;

      div.items:nth-child(1),
      div.items:nth-child(2),
      div.items:nth-child(3) {
        margin-bottom: 6vh;
      }

      div.items {
        display: flex;
        margin: 2vh;
        min-width: 45vh;
        flex: 1;

        div.icons {
          width: 12.96vh;
          height: 12.96vh;

          img.outside {
            width: 12.96vh;
            height: 12.96vh;
            transition: transform 1s;
          }

          img.outside-blur {
            position: absolute;
            margin-left: -12.96vh;
            width: 12.96vh;
            height: 12.96vh;
            transition: all 1s;
          }

          object.outside {
            width: 12.96vh;
            height: 12.96vh;
            transition: transform 1s;
          }

          object.outside-blur {
            position: absolute;
            margin-left: -12.96vh;
            width: 12.96vh;
            height: 12.96vh;
            transition: all 1s;
          }

        }

        div.icon-1 {
          object.inside {
            position: absolute;
            margin-left: 3.76vh;
            margin-top: 3.06vh;
            width: 4.36vh;
            height: 5.3vh;
          }

          object.outside, object.outside-blur {
            transform-origin: 45.5% 46%;
          }
        }

        div.icon-2 {
          object.inside {
            position: absolute;
            margin-left: 4.1vh;
            margin-top: 3.9vh;
            width: 4.83vh;
            height: 4.83vh;
          }

          object.inside-1 {
            position: absolute;
            margin-left: 5.25vh;
            margin-top: 5.1vh;
            width: 2.36vh;
            height: 2.36vh;
          }

          object.inside-1-blur {
            position: absolute;
            margin-left: 5.25vh;
            margin-top: 5.1vh;
            width: 2.36vh;
            height: 2.36vh;
            transition: all 5s;
          }

          object.outside, object.outside-blur {
            transform-origin: 6.6vh 6.48vh;
          }

        }

        div.icon-3 {
          object.inside {
            position: absolute;
            margin-left: 3.89vh;
            margin-top: 4.3vh;
            width: 5.89vh;
            height: 4.95vh;
          }

          object.outside, object.outside-blur {
            transform-origin: 6.24vh 6.48vh;
          }
        }

        div.icon-4 {
          object.inside {
            position: absolute;
            margin-left: 4.24vh;
            margin-top: 3.18vh;
            width: 4.95vh;
            height: 5.89vh;
          }

          object.outside, object.outside-blur {
            transform-origin: 6.83vh 6.36vh;
          }
        }

        div.icon-5 {
          object.inside {
            position: absolute;
            margin-left: 4.24vh;
            margin-top: 4.59vh;
            width: 5.18vh;
            height: 4.48vh;
          }

          object.outside, object.outside-blur {
            transform-origin: 6.71vh 6.6vh;
          }
        }

        div.icon-6 {
          object.inside {
            position: absolute;
            margin-left: 4.2vh;
            margin-top: 4.3vh;
            width: 4.71vh;
            height: 4.71vh;
          }

          object.outside, object.outside-blur {
            transform-origin: 6.36vh 6.36vh;
          }

          object.inside-eclipse {
            position: absolute;
            margin-left: 5.25vh;
            margin-top: 5.35vh;
            width: 1.65vh;
            height: 1.65vh;
          }

          object.inside-eclipse-blur {
            position: absolute;
            margin-left: 5.25vh;
            margin-top: 5.35vh;
            width: 1.65vh;
            height: 1.65vh;
          }
        }

        div.text {
          margin-left: 1.5vw;
          font-family: Roboto;
          font-style: normal;
          line-height: normal;
          letter-spacing: 0.05em;

          h3 {
            font-weight: bold;
            font-size: 1.48vw;
            text-transform: uppercase;
            margin-bottom: 2vh;
            transition: color .5s;
          }

          p {
            font-weight: normal;
            font-size: 0.77vw;
            line-height: normal;
            color: rgba(255, 255, 255, 0.5);
            transition: color .5s;
          }
        }
      }

      div.items:hover {
        div.icons {
          img.outside {
            transform: rotate(90deg);
            transition: transform 1s;            
          }

          img.outside-blur {
            filter: blur(0.35vh);
            transform: rotate(90deg);
            transition: all 1s;
          }

          object.outside {
            transform: rotate(90deg);
            transition: transform 1s;
          }

          object.outside-blur {
            filter: blur(0.35vh);
            transform: rotate(90deg);
            transition: all 1s;
          }

        }

        div.icon-2 {
          object.inside-1-blur {
            filter: blur(0.35vh);
            transition: all 1s;
          }
        }

        div.text {
          h3 {
            color: #F42B24;
            transition: color .5s;
          }

          p {            
            color: rgba(255, 255, 255, 1);
            transition: color .5s;
          }          
        }
      }
    }
  }

  //*contact us
  .content-page-7 {
    display: flex;
    justify-content: center;
    align-items: center;

    .contact-us {
      display: flex;
      width: 77vw;
      height: 57vh;
      margin-left: 8vw;

      .form {
        background: rgba(24, 24, 24, 0.8);
        align-self: stretch;
        width: 67%;

        display: flex;
        align-items: center;
        flex-direction: column;
        float: right;

        .title {
          margin-top: 6vh;
          font-family: Roboto;
          font-style: normal;
          font-weight: 900;
          font-size: 2.36vh;
          line-height: 2.47vh;
          text-align: center;
          letter-spacing: 0.03em;
          text-transform: uppercase;

          color: #FFFFFF;

          h2 { font-size: unset; }

          span:first-child, span:nth-child(2) {
            margin: 0 0.59vh 0 0.59vh;
            font-weight: 900;
            font-size: 4.71vh;
            line-height: 4.95vh;
            text-align: center;
            letter-spacing: 0.03em;
            text-transform: uppercase;

            color: #F42B24;
          }

          span:last-child{
            text-align: center;
            font-weight: normal;
            text-align: center;
            letter-spacing: 0.1em;
            text-transform: lowercase;
            font-size: 2.47vh;
            margin-top: -0.24vh;
            display: block;

            color: rgba(255, 255, 255, 0.2);
          }
        }

        form.message-form {
          width: 85%;
          margin-top: 7vh;
          text-align: right;

          input {
            background: none;
            outline: none;
            border: none;
            border-bottom: 0.24vh solid rgba(255, 255, 255, 0.15);
            padding: 0.59vh;
          }

          input.name {
            width: 47%;
            margin-right: 6%;
          }

          input.email {
            width: 47%;
          }

          div.include-files {
            width: 100%;
            margin-top: 1vh;
            cursor: default;

            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 1.65vh;
            line-height: 1.3vh;
            letter-spacing: 0.04em;

            color: rgba(255, 255, 255, 0.2);
          }

          div.add-file-btn {
            font-family: 'fontello';
            position: absolute;
            margin-top: -6.3vh;
            margin-left: 42.5vw;
            cursor: pointer;
            transition: color .3s;
            padding: 0.59vh;
            color: rgba(255, 255, 255, 0.6);
          }

          div.add-file-btn:hover {
            color: rgba(255, 255, 255, 0.4);
            transition: color .3s;
          }

          input.message {
            margin-top: 6.5vh;
            width: 100%;
          }

          input.send-massage-btn {
            display: inline-block;
            position: inherit;
            margin-top: 6vh;
            background: #F42B24;
            border-radius: 4.12vh;
            text-transform: uppercase;
            width: 22.97vh;
            height: 4.83vh;
            transition: background .3s;

            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 1.65vh;
            line-height: normal;
            text-align: center;
            letter-spacing: 0.05em;
            text-transform: uppercase;

            color: #FFFFFF;
          }

          input.send-massage-btn:hover {
            background: #B30C06;
            transition: background .3s, box-shadow .3s;
          }

          div:last-child {
            width: 100%;
            text-align: left;
            margin-top: 3vh;

            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 1.65vh;
            line-height: 2.12vh;
            letter-spacing: 0.07em;

            color: rgba(255, 255, 255, 0.3);
          }
        }
      }

      .info {     
        width: 33%;
        padding: 7vh 2vw 7vh 4vw;
        font-family: Roboto;
        font-style: normal;
        letter-spacing: 0.05em;

        h2 {
          font-weight: 900;
          font-size: 3.53vh;
          line-height: normal;
          text-transform: uppercase;
          color: #FFFFFF;
          margin-bottom: 5vh;
        }

        p {
          font-weight: 500;
          font-size: 1.65vh;
          line-height: 2.94vh;
          color: rgba(255, 255, 255, 0.5);
          margin-bottom: 5vh;
        }

        .social-btns{
          font-family: 'fontello';
          font-size: 4.24vh;
          margin-bottom: 5vh;
          cursor: pointer;
          display: flex;

          div {
            margin-right: 1.18vh;
            transition: color .3s;
          }

          //*blog
          div:last-child {            
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            bottom: -0.94vh;
            border-radius: 11.66vh;
            background: white;
            color: black;
            font-size: 2.7vh;
            height: 4.24vh;
            min-height: 4.24vh;
            width: 4.24vh;
            min-width: 4.24vh;
            margin-right: 1.18vh;
            transition: background .3s;
          }

          div:last-child:hover {
            color: black;
            background: rgba(255, 255, 255, 0.4);
            transition: background .3s;
          }
        }

        .social-btns div:hover{
          color: rgba(255, 255, 255, 0.4);
          transition: color .3s;
        }

        p.copyright {
          font-weight: 500;
          font-size: 1.77vh;
          line-height: 2.71vh;
          color: rgba(200,200,200,.3);
        }
      }
    }
  }

  //*other
  .statusbar {
    font-size: 20px;
    position: fixed;
    bottom: 5px;
    left: 5px;
    z-index: 99;
  }

  .number {
    position: relative;
    top: 40vh;
    left: 50vw;
    font-size: 11.78vh;
  }

  .scroll {
    position: fixed;
    top: 0;
    right: 0;
  }

  //*backlight
  #backlight {
    margin: ($backlight-radius / -2) 0 0 ($backlight-radius / -2);
    position: fixed;
    height: $backlight-radius;
    width: $backlight-radius;
    z-index: $backlight-z-index;
    border-radius: $backlight-radius / 2;
    background: radial-gradient(circle closest-side at 50% 50%, #FFF, rgba(0,0,0,0));
    mix-blend-mode: overlay;
  }

  //*blur
  .blur {
    filter: blur(0.59vh);
    transition: filter 1s;
  }

  input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    opacity: 0;
    cursor: inherit;
  }
}

//scrollbar
::-webkit-scrollbar { width: 0vh; }
::-webkit-scrollbar-button { background-color: #666; height: 1.18vh; }
::-webkit-scrollbar-track { background-color: #646464; }
::-webkit-scrollbar-track-piece { background-color: #000; }
::-webkit-scrollbar-thumb { background-color: #666; border-radius: 0.12vh; }
::-webkit-scrollbar-corner { background-color: #646464; }
::-webkit-resizer { background-color: #666; }

///* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
}
