body {overflow-x: hidden;}

#paralax{
  //state
  $number-of-layers: 11;
  $number-of-pages: 5;
  $content-layer: 12;
  $nav-layer: 99;
  $backlight-radius: 20vw;

  //default
  color: #FFF;
  // background-color: #000;
  * {
    margin: unset;
  }

  //layers
  @for $i from 0 through $number-of-layers {
    .layer-#{$i} {
      z-index: $i;
      // width: #{$i * 30% + 100%};
    }
  }

  .layer-0 {
    width: ($number-of-pages * 100%) * 0.3;
    img {
      position: inherit;
      height: 100vh;
      // margin-left: 0vw;
      // margin-top: 0vw;
    }
  }

  .layer-1 {
    width: ($number-of-pages * 100%) * 1.6;
    img {
      position: inherit;
      height: 15vh;
      margin-left: 25.3vw;
      margin-top: 33.5vw;
    }
  }

  .layer-2 {
    width: ($number-of-pages * 100%) * 2;
    img {
      position: inherit;
      height: 32vh;
      margin-left: -1.7vw;
      margin-top: 38.5vw;
    }
  }

  .layer-3 {
    width: ($number-of-pages * 100%) * 1.8;
    img {
      position: inherit;
      height: 31vh;
      margin-left: 11vw;
      margin-top: 34vw;
    }
  }

  .layer-4 {
    width: ($number-of-pages * 100%) * 1.4;
    img {
      position: inherit;
      height: 55vh;
      margin-left: 5vw;
      margin-top: 12vw;
    }
  }

  .layer-5 {
    width: ($number-of-pages * 100%) * 2.1;
    img {
      position: inherit;      
      height: 14vh;
      margin-left: 25.65vw;
      margin-top: 21.65vw;
    }
  }

  .layer-6 {
    width: ($number-of-pages * 100%) * 1.6;
    img {
      position: inherit;      
      height: 6vh;
      margin-left: 29.65vw;
      margin-top: 35.65vw;
    }
  }

  .layer-7 {
    width: ($number-of-pages * 100%) * 1.6;
    img {
      position: inherit;      
      height: 21vh;
      margin-left: 62vw;
      margin-top: 36vw;
    }
  }

  .layer-8 {
    width: ($number-of-pages * 100%) * 1.6;
    img {
      position: inherit;      
      height: 9vh;
      margin-left: 73vw;
      margin-top: 34vw;
    }
  }

  .layer-9 {
    width: ($number-of-pages * 100%) * 1.6;
    img {
      position: inherit;      
      height: 16vh;
      margin-left: 22vw;
      margin-top: 9vw;
    }
  }

  .content-container {
    z-index: $content-layer;
    display: flex;
  }

  //scroll content pages
  @for $i from 0 through $number-of-pages {
    .content-page-#{$i} {
      z-index: 5;
      width: 100vw;
      height: 100vh;
      background-color: rgba(($i - 1) * 50, 0, 0, .1);
    }
  }

  .content-page-1 {
    // background-color: red;
  }
  .content-page-2 {
    // background-color: purple;
  }

  //header
  header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: $nav-layer - 1;

    .main-logo {
      margin: 33px 0 0 68px;
    }
  }

  .contact-us-btn {
    position: fixed;
    width: 165px;
    height: 41px;
    right: 192px;
    top: 44px;
    background-color: rgba(0,0,0,0);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 35px;
    text-transform: uppercase;    
    cursor: pointer;
    transition: filter .5s;
  }

  //navbar
  nav {
    position: fixed;
    right: 0;
    height: 100vh;
    width: 362px;
    background-color: rgba(50, 50, 50, 0.5);
    z-index: $nav-layer;
    transition: 1s;

    ul {
      list-style-type: none;
      text-transform: uppercase;
      margin-top: 25vh;
      margin-left: 75px;
      line-height: 300%;
    }

    li a {
      color: #555;
      cursor: pointer;
    }

    li a:hover {
      color: #FFF;      
      text-decoration: none;
    }
  }

  nav.hiden {
    position: fixed;
    right: -362px;
    transition: 1s;
  }

  .navbar-btn {
    position: fixed;
    right: 0;
    top: 0;
    height: 130px;
    width: 130px;
    background-color: #600;
    z-index: $nav-layer + 1;
    text-align: center;
    padding-top: 40px;
    border-radius: 0 0 0 20px;
    transition: .5s;
    cursor: pointer;
  }

  .navbar-btn:hover {
    background-color: #c00;
    transition: .5s;
  }

  .navbar-btn:active {
    background-color: #f00;
  }

  //circular-progress
  .perfect-circle {
    position: fixed;
    z-index: 999;
    right: 0;
    bottom: 0;
  }

  //other
  .statusbar {
    font-size: 25px;
    position: fixed;
    bottom: 5px;
    left: 5px;
    z-index: 99;
  }

  .number {
    position: relative;
    top: 40vh;
    left: 50vw;
    font-size: 100px;
  }

  .scroll {
    position: fixed;
    top: 0;
    left: 0;
  }

  //backlight
  #backlight {
    margin: ($backlight-radius / -2) 0 0 ($backlight-radius / -2);
    position: fixed;
    height: $backlight-radius;
    width: $backlight-radius;
    z-index: $nav-layer - 2;
    border-radius: $backlight-radius / 2;
    background: radial-gradient(circle closest-side at 50% 50%, #FFF, rgba(0,0,0,0));
    mix-blend-mode: overlay;
  }

  //blur
  .blur {
    filter: blur(2px);
    transition: filter .5s;
  }
}

//scrollbar
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-button { background-color: #666; height: 10px; }
::-webkit-scrollbar-track { background-color: #646464; }
::-webkit-scrollbar-track-piece { background-color: #000; }
::-webkit-scrollbar-thumb { background-color: #666; border-radius: 1px; }
::-webkit-scrollbar-corner { background-color: #646464; }
::-webkit-resizer { background-color: #666; }