@import "paralax.scss";

#paralax{
  //Ipad Mini 768 * 1024  9/7
  header {
    .main-logo {
      margin: 3.8vh 0 0 3vh !important;
      height: 7vh;
    }    

    .contact-us-btn {
      width: 19.43vh;
      height: 4.82vh;
      right: 16vh;
      top: 4vh;
    }
  }

  #mobile-content-container {
    display: flex;

    .content-page-1 {
      img {
        width: unset;
        position: absolute;
        margin-top: 42vh;
        margin-left: 5.4vw;
        height: 12.5vh;
        }

      img.cat {
        margin-top: 21vh;
        margin-left: 0vh;
        height: 50vh;
        width: unset;
        z-index: 0;
      }

      .text {
        position: absolute;
        margin-top: 58vh;
        margin-left: 6vw;
        font-size: 1.85vh;
        line-height: 1.94vh;
        text-transform: uppercase;
      }

      #portfolio-btn {
        margin-left: 6vw;
        margin-top: 68vh;
        width: 19.43vh;
        height: 4.83vh;
        border: 0.12vh solid #FFFFFF;
        border-radius: 4.12vh;
        background-color: rgba(0, 0, 0, 0);
        transition: background-color .3s;
        z-index: 10;
      }

      #portfolio-btn:hover {
        background-color: rgba(50, 50, 50, 0.3);
        transition: background-color .3s;
      }
    }

    .content-page-2 {
      padding-top: 7vh;
      .about-us {
        div:first-child img {
          margin-top: -3.5vh;
          margin-left: 0vh;
        }

        div:last-child {
          width: 90%;
          letter-spacing: 0.5vh;

          h1 { line-height: 4vh; }

          p {
            margin-top: 2.94vh;
            margin-bottom: 9.42vh;
            text-align: justify;
            letter-spacing: 0.1vh;
            font-size: 2vh;
          }

          span.t2 { font-size: 4.9vh; }
          span.t4 {
            margin-left: 1vh;
            top: 3.5vh;
          }
          span.t6 { font-weight: 900; }
        }
      }
    }
    .content-page-3 {
      .content div {
        width: 26vh;
        margin: 3.8vh 1.45vh;
        margin-left: 2vh;

        h3 { font-weight: 900; }
      }

      .content {
        width: 60vh;
        min-width: 60vh;
        margin-left: 5vh;
      }
    }

    /* approach */
    .content-page-6 {
      align-items: stretch; 
      width: 100%;
      height: unset;
      min-height: 100vh;
      justify-content: center;
      padding-top: 12vh;

      .approach {
        margin-top: unset;
        justify-content: center;
        padding: 7vh 0;
        width: 90vw;

        .items {
          flex: 1 1 30vh;
          height: 18vh;
          margin: 1vh;

          .text {
            text-align: left;
            // width: 25vh;

            h3 { font-size: 2.48vh; }

            p {
              font-size: 1.5vh;
              letter-spacing: 0px;
              text-transform: none;
              line-height: 1.65vh;
            }
          }
        }
      }
    }

    .content-page-7 {
      align-items: flex-start;
      padding-top: 15vh;

      .contact-us {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 0;
        margin-top: 0;
        width: 72vh;

        .form {
          width: 100%;
          height: 43vh;

          .title h2 {
            margin-top: -2vh;
            font-size: 2.12vh;

            span { font-size: 3.71vh; }
            span.development { font-size: 1.9vh; }
          }

          form.message-form  {
            div.add-file-btn {
              margin-left: 58vh;
              margin-top: -7.3vh;
              font-size: 2vh;
            }

            input.send-massage-btn {
              margin-top: 1.9vh;
              width: 19.97vh;
              font-size: 1.55vh;
            }
          }
        }

        .info {
          width: 100%;
          text-align: center;
          padding: 6.5vh 6vh 0vh 6vh;

          p {
            font-size: 1.85vh;
            margin-bottom: 3.5vh;
          }

          .social-btns {
            justify-content: center;
            margin-bottom: 4vh;
            font-size: 3.84vh;

            div:last-child {
              bottom: -0.64vh;
              font-size: 2.6vh;
            }
          }

          p.copyright {
            font-size: 1.37vh;
            margin-bottom: 1.5vh;
          }
        }
      }
    }
  }

  nav {
    li.mobile { display: flex; }
    li.desktop { display: none; }
  }

  .content-page-1 {
    img {
      margin-left: 8.7vw;
      margin-top: 43vh;
      width: 65.43vh;
      height: 17vh;
    }

    .text { margin-left: 10vw; }
  }
}
