@import "paralax.scss";

#paralax{
  //mobile
  .mobile-content-container {
    //background-color: black;
    // height: 100vh;
  }

  //Ipad Mini 768 * 1024  9/7
  @media screen and (max-device-width: 768px) {

    .sprites {
      display: none;
    }

    .content-container {
      display: none;
    }

    .perfect-circle {
      display: none;
    }

    .arrow.arrow-left {
      display: none;
    }

    .arrow.arrow-right {
      display: none;
    }

    .navbar-btn {
      left: 635px;
    }

    .mobile-content-container {
      display: flex;

      img {
        position: absolute;
        margin-top: 460px;
        margin-left: 56px;
        width: 515px;
      }

      img.cat {
        margin-top: 200px;
        margin-left: 0px;
        width: 92%;
      }

      .text {
        position: absolute;
        margin-top: 60vh;
        margin-left: 6.07vh;
        width: 45.9vh;
        font-size: 1.85vh;
        line-height: 1.94vh;
        text-transform: uppercase;
      }

      #portfolio-btn {
        border-radius: 4.12vh;
        position: absolute;
        margin-top: 695px;
        width: 160px;
        margin-left: 7vw;
        background-color: #ffffff00;
        padding: 1.18vh;
        text-transform: uppercase;
        font-size: 1.89vh;
      }

      .content-page-2 div.about-us  {
        margin-top: 6vh;

        div:last-child {
          width: 90%;
          letter-spacing: 0.5vh;
        }
      }
    }

    nav {
      li.mobile {
        display: flex;
      }

      li.desktop {
        display: none;
      }
    }

    .contact-us-btn {
      left: 410px;
    }

    header .main-logo {
      margin: 3.89vh 0px 0px 2vh;
    }

    .content-page-1 {
      img {
        margin-left: 8.7vw;
        margin-top: 43vh;
        width: 65.43vh;
        height: 17vh;
      }

      .text {
        margin-left: 10vw;
      }
    }
  }
}
