body {overflow-x: hidden;}

#paralax{
  //state
  $number-of-layers: 11;
  $number-of-pages: 7;
  $content-layer: 12;
  $nav-layer: 99;
  $backlight-radius: 20vw;
  $backlight-z-index: 10;

  //default
  color: #FFF;
  background-color: #000;
  height: 100%;
  // margin-right: 0vw;
  * {
    margin: unset;
  }

  //layers \ sprites
  .sprites {
    position: inherit;
  }

  @for $i from 0 through $number-of-layers {
    .layer-#{$i} {
      z-index: $i;
    }
  }

  .layer-0 {
    width: ($number-of-pages * 100%) * 0.3;
    img {
      position: inherit;
      height: 100vh;
      margin-left: 75vw;
      opacity: .6;
    }
  }

  .layer-1 {
    width: ($number-of-pages * 100%) * 0.8;
    img {
      position: inherit;
      height: 15vh;
      margin-left: 485.5vw;
      margin-top: 65vh;
    }
  }

  .layer-2 {
    width: ($number-of-pages * 100%) * 1.1;
    img {
      position: inherit;
      height: 32vh;
      margin-left: 666vw;
      margin-top: 75vh;
    }
  }

  .layer-3 {
    width: ($number-of-pages * 100%) * 1;
    img {
      position: inherit;
      height: 31vh;
      margin-left: 610vw;
      margin-top: 65vh;
    }
  }

  .layer-4 {
    width: ($number-of-pages * 100%) * 0.9;
    img {
      position: inherit;
      height: 61vh;
      margin-left: 538vw;
      margin-top: 21vh;
    }
  }

  .layer-6 {
    width: ($number-of-pages * 100%) * 2;
    img {
      position: inherit;      
      height: 6vh;
      margin-left: 1329vw;
      margin-top: 69vh;
    }
  }

  .layer-7 {
    width: ($number-of-pages * 100%) * 2.3;
    img {
      position: inherit;      
      height: 21vh;
      margin-left: 1573vw;
      margin-top: 70vh;
    }
  }

  .layer-8 {
    width: ($number-of-pages * 100%) * 2.6;
    img {
      position: inherit;      
      height: 9vh;
      margin-left: 1793vw;
      margin-top: 68vh;
    }
  }

  .layer-9 {
    width: ($number-of-pages * 100%) * 2.9;
    img {
      position: inherit;      
      height: 16vh;
      margin-left: 1952vw;
      margin-top: 18vh;
    }
  }

  .content-container {
    height: 100vh;
    width: ($number-of-pages * 100%) * 1;
    z-index: $content-layer;
    display: flex;
  }

  //scroll content pages
  @for $i from 0 through $number-of-pages {
    .content-page-#{$i} {
      z-index: $content-layer;
      width: 100vw;
      height: 100vh;
    }
  }

  .content-page-1 {
    img {
      margin-left: 25.7vw;
      margin-top: 39vh;
    }

    .text {
      margin-left: 26vw;
      margin-top: 1vh;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: normal;
      text-transform: uppercase;
      color: #FFFFFF;
      width: 450px;
    }

    .lets-chat-btn {
      margin-left: 26vw;
      margin-top: 4vh;
      width: 165px;
      height: 41px;
      border: 1px solid #FFFFFF;
      box-sizing: border-box;
      border-radius: 35px;
      background-color: rgba(0,0,0,0);
      text-transform: uppercase;    
      cursor: pointer;
      transition: background-color .3s;
      z-index: 5;
    }

    .lets-chat-btn:hover {
      background-color: rgba(50,50,50,.3);
      transition: background-color .3s;
    }
  }

  .content-page-2 {
    // background-color: purple;
  }

  .content-page-3 {
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
      display: flex;
      flex-wrap: wrap;
      width: 45vw;
      div {
        margin: 1.875vw;
        width: 10vw;
        h3 {
          text-transform: uppercase;
          margin-bottom: 2vh;
        }
        p {
          font-family: Roboto;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: normal;
          color: rgba(255, 255, 255, 0.4);
        }
      }
    }
  }

  .content-page-4 {
    // background-color: purple;
  }

  .content-page-5 {
    display: flex;
    justify-content: center;
    align-items: center;

    .our-team {
      position: absolute;
      top: -10vh;
      left: 26vw;
      width: 18vw;
      height: 12vh;
      border: 20px solid #F42B24;
      z-index: 5;
      box-sizing: border-box;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

      p {
        position: absolute;
        margin: -14px 0 0 -14px;
        font-family: "Roboto-bold";
        font-style: normal;
        font-weight: 900;
        font-size: 50px;
        line-height: 52px;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        color: #FFFFFF;
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
      }
    }
    .carousel-container {
      position: relative;
      width: 80vw;
      height: 62vh;
    }
    #carousel {
      height:62vh;
      width:80vw;
      position:relative;
      margin-bottom:0.5em;
    }
    .carousel-image {
      border: 0;
      display: block;
    }
    .carousel-feature {
      position: absolute;
      cursor: pointer;
    }
    .carousel-feature .carousel-caption {
      position: inherit;
      bottom: -8vh;
      left: 0;
      width:100%;
      height: 5vh;
      background-color: rgba(0, 0, 0, 0);
    }
    .carousel-feature .carousel-caption {
      font-family: "Roboto";
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.03em;
      font-style: normal;

      p:first-child {
        font-size: 14px;
        line-height: 19px;
        color: rgba(255, 255, 255, 0.4);
        font-weight: 500;
      }
      p:last-child {
        font-size: 22px;
        line-height: 30px;
        color: #FFFFFF;
        font-weight: bold;
      }
    }
    //carousel navigation
    .tracker-summation-container {
      position: absolute;
      color: white;
      padding: 3px;
      margin: 3px;
      background-color: #000;
    }
    .tracker-individual-container {
      // position: absolute;
      color: white;
      // right: 0px;
      // top: 30px;
    }
    .tracker-individual-container li {
      list-style: none;
    }
    .tracker-individual-container .tracker-individual-blip {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 3px;
      color: white;
      text-align: center;
      width: 34px;
      height: 34px;
      background: #1D1D1D;
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 17px;
      transition: background .3s;
    }
    .tracker-individual-container .tracker-individual-blip:hover {      
      background: #5F5F5F;
      transition: background .3s;
    }
    .tracker-individual-container .tracker-individual-blip-selected {
      color: white;
      font-weight: bold;
      background-color: #F42B24;
    }
    .tracker-individual-container .tracker-individual-blip-selected:hover {
      background: red;
    }
    .carousel-nav {
      margin-top: 12vh;
      display: flex;
      justify-content: center;
      align-items: center;      
    }
    #carousel-left {
      position: inherit;
      cursor: pointer;
    }
    #carousel-right {
      position: inherit;
      cursor: pointer;
    }
  }

  .content-page-6 {
    // background-color: purple;
  }

  .content-page-7 {
    display: flex;
    justify-content: center;
    align-items: center;

    .contact-us {
      display: flex;
      width: 77vw;
      height: 57vh;
      margin-left: 8vw;

      .form {
        background: rgba(24, 24, 24, 0.8);
        align-self: stretch;
        width: 67%;

        display: flex;
        align-items: center;
        flex-direction: column;
        float: right;

        .title {
          margin-top: 6vh;
          font-family: Roboto;
          font-style: normal;
          font-weight: 900;
          font-size: 20px;
          line-height: 21px;
          text-align: center;
          letter-spacing: 0.03em;
          text-transform: uppercase;

          color: #FFFFFF;

          span:first-child, span:nth-child(2) {
            margin: 0 5px 0 5px;
            font-weight: 900;
            font-size: 40px;
            line-height: 42px;
            text-align: center;
            letter-spacing: 0.03em;
            text-transform: uppercase;

            color: #F42B24;
          }

          span:last-child{
            text-align: center;
            font-weight: normal;
            text-align: center;
            letter-spacing: 0.1em;
            text-transform: lowercase;
            font-size: 21px;
            margin-top: -2px;
            display: block;

            color: rgba(255, 255, 255, 0.2);
          }
        }

        form.message-form {
          width: 85%;
          margin-top: 7vh;
          text-align: right;

          input {
            background: none;
            outline: none;
            border: none;
            border-bottom: 2px solid rgba(255, 255, 255, 0.15);
            padding: 5px;
          }

          input.name {
            width: 47%;
            margin-right: 6%;
          }

          input.email {
            width: 47%;
          }

          div.include-files {
            width: 100%;
            margin-top: 1vh;

            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 11px;
            letter-spacing: 0.04em;

            color: rgba(255, 255, 255, 0.2);
          }

          div.add-file-btn {
            position: absolute;
            margin-top: -5vh;
            margin-left: 42.5vw;
            cursor: pointer;
            transition: color .3s;
          }

          div.add-file-btn:hover {
            color: rgba(255, 255, 255, 0.4);
            transition: color .3s;
          }

          input.message {
            margin-top: 6.5vh;
            width: 100%;
          }

          input.send-massage-btn {
            display: inline-block;
            position: inherit;
            margin-top: 6vh;
            background: #F42B24;
            border-radius: 35px;            
            text-transform: uppercase;
            width: 195px;
            height: 41px;
            transition: background .3s;

            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: normal;
            text-align: center;
            letter-spacing: 0.05em;
            text-transform: uppercase;

            color: #FFFFFF;
          }

          input.send-massage-btn:hover {
            background: #B30C06;
            box-shadow: inset 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
            transition: background .3s, box-shadow .3s;
          }

          div:last-child {
            width: 100%;
            text-align: left;
            margin-top: 3vh;

            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 0.07em;

            color: rgba(255, 255, 255, 0.3);

          }
        }
      }

      .info {     
        width: 33%;
        padding: 7vh 2vw 7vh 4vw;
        font-family: Roboto;
        font-style: normal;
        letter-spacing: 0.05em;

        h2 {
          font-weight: 900;
          font-size: 30px;
          line-height: normal;
          text-transform: uppercase;
          color: #FFFFFF;
          margin-bottom: 5vh;
        }

        p {
          font-weight: 500;
          font-size: 14px;
          line-height: 25px;
          color: rgba(255, 255, 255, 0.5);
          margin-bottom: 5vh;
        }

        .social-btns{
          font-family: 'fontello';
          font-size: 36px;
          margin-bottom: 5vh;
          cursor: pointer;

          span {
            margin-right: 10px;
            transition: color .3s;
          }  
        }

        .social-btns span:hover{
          color: rgba(255, 255, 255, 0.4);
          transition: color .3s;
        }

        p.copyright {
          font-weight: 500;
          font-size: 15px;
          line-height: 23px;
          color: #999999;
        }
      }
    }
  }

  //header
  header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: $nav-layer - 1;

    .main-logo {
      margin: 33px 0 0 68px;
    }
  }

  .contact-us-btn {
    position: fixed;
    width: 165px;
    height: 41px;
    right: 192px;
    top: 44px;
    background-color: rgba(0,0,0,0);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 35px;
    text-transform: uppercase;    
    cursor: pointer;
    filter: blur(0px);
    transition: filter 1s;
    transition: background-color .3s;
  }

  .contact-us-btn:hover {
    background-color: rgba(50,50,50,.5);
    transition: background-color .3s;
  }

  //navbar
  .navbar-btn {
    position: fixed;
    right: 0;
    top: 0;
    height: 130px;
    width: 130px;
    background-color: #F42B24;
    z-index: $nav-layer + 1;
    text-align: center;
    padding-top: 40px;
    border-radius: 0 0 0 20px;
    transition: .5s;
    cursor: pointer;
  }

  .navbar-btn:hover {
    background-color: #B30C06;
    transition: .5s;
  }

  .navbar-btn:active {
    background-color: #F42B24;
    transition: .1s;
  }

  .navbar-btn span {
    transition: background 0s 0.3s;
  }

  .navbar-btn span::before,
  .navbar-btn span::after {
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
  }

  .navbar-btn span::before {
    transition-property: top, transform;    
    top: -10px;
  }

  .navbar-btn span::after {
    transition-property: bottom, transform;
    bottom: -10px;
  }

  //состояние при открытом меню
  .navbar-btn.active span {
    background: none;
  }

  .navbar-btn.active span::before {
    top: 0;
    transform: rotate(45deg);
  }

  .navbar-btn.active span::after {
    bottom: 0;
    transform: rotate(-45deg);
  }

  .navbar-btn.active span::before,
  .navbar-btn.active span::after {
    transition-delay: 0s, 0.3s;
  }

  .navbar-btn span {
    display: block;
    position: absolute;
    top: 62px;
    left: 50px;
    right: 50px;
    height: 3px;
    background: white;
  }

  .navbar-btn span::before,
  .navbar-btn span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
    content: "";
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0;
    height: 100vh;
    width: 362px;
    background: rgba(1, 0, 0, 0.7);
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.25);
    z-index: $nav-layer;
    transition: 1s;
    padding-right: 2vw;

    ul {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 63px;
      text-align: justify;
      text-transform: uppercase;
      list-style-type: none;
    }

    li {
      cursor: pointer;
    }

    li a {      
      color: #555;
    }

    li:hover a {
      color: #FFF;      
      text-decoration: none;
    }
  }

  nav.hiden {
    position: fixed;
    right: -362px;
    transition: 1s;
  }

  .arrow-left {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    height: 100vh;
    width: 130px;
    z-index: $nav-layer;
    cursor: pointer;
    img {
      transform: rotate(180deg);
      animation-name: opacity-pulse;
      animation-duration: 1s;
      animation-direction: alternate;
      animation-iteration-count: infinite;
      opacity: 0;
      animation-delay: 2s;
      transition: opacity .3s;
    }
  }

  .arrow-left:hover {
    img {
      opacity: 1;
      animation: none;
      transition: opacity .3s;
    }
  }

  @keyframes opacity-pulse {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  //circular-progress
  .perfect-circle {
    position: fixed;
    z-index: 99;
    right: 50px;
    bottom: 30px;
    filter: blur(0px);
    transition: filter 1s;
  }

  //other
  .statusbar {
    font-size: 20px;
    position: fixed;
    bottom: 5px;
    left: 5px;
    z-index: 99;
  }

  .number {
    position: relative;
    top: 40vh;
    left: 50vw;
    font-size: 100px;
  }

  .scroll {
    position: fixed;
    top: 0;
    right: 0;
  }

  //backlight
  #backlight {
    margin: ($backlight-radius / -2) 0 0 ($backlight-radius / -2);
    position: fixed;
    height: $backlight-radius;
    width: $backlight-radius;
    z-index: $backlight-z-index;
    border-radius: $backlight-radius / 2;
    background: radial-gradient(circle closest-side at 50% 50%, #FFF, rgba(0,0,0,0));
    mix-blend-mode: overlay;
  }

  //blur
  .blur {
    filter: blur(5px);
    transition: filter 1s;
  }
}

//scrollbar
::-webkit-scrollbar { width: 0px; }
::-webkit-scrollbar-button { background-color: #666; height: 10px; }
::-webkit-scrollbar-track { background-color: #646464; }
::-webkit-scrollbar-track-piece { background-color: #000; }
::-webkit-scrollbar-thumb { background-color: #666; border-radius: 1px; }
::-webkit-scrollbar-corner { background-color: #646464; }
::-webkit-resizer { background-color: #666; }