.with-scrolling {
  position: relative;
}

.scrolling-background {
  overflow: visible !important;
  width: 90px;
  z-index: 2;
}

.scrolling-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  left: 0;
  transform: translate(-50%, -50%);
  background-color: #2d2d2d;
  border: 1px solid;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;

  & > .text-wrapper {
    font-size: 15px;
    letter-spacing: 0.81px;
    color: #0075b8;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    text-transform: uppercase;
  }
}

.ladder-text {
  fill: #606060;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  writing-mode: vertical-rl;
}

@media screen and (max-width: 1216px) {
  .site-scrolling, .scroller-btn-container {
    display: none;
  }
}
