#services {
  .services {
    .container {
      padding: 0vw;
      margin-bottom: 7%;
      max-width: 120em;
    }

    .col-md-4 {
      padding: 1%;
    }

    .service-card {
      margin-top: -28%;
      border-radius:25px;
      box-shadow: 0vw 0.208vw 0.3646vw rgba(0,62,92,0.69);
      background-image: linear-gradient(#4c9ecd, #0075b8);

      &:hover {
        background-image: linear-gradient(#a5c1d1, #4c9ecd);

        .info {
          .body {
            .btn-contact {
              background-image: linear-gradient(0deg, #3887b2 0%, #499bc9 100%);
            }
          }
        }
      }

      .info {
        padding-top: 95%;
        margin-top: 15%;
        margin-left: 10%;
        margin-right: 10%;
        color: #fff;

        p {
          font-family: "Roboto-Medium";
        }

        hr {
          border-top: 0.05vw solid #fff;
          width: 116%;
          margin-left: -8%;
        }

        .title {
          margin-top: 16%;
          width: 120%;
          margin-left: -10%;
          text-align: center;
          text-transform: uppercase;
          font-size: 1.46vw;
          letter-spacing: 0.05vw;
          line-height: 2.5vw;
          font-weight: bold;
        }

        .body {
          margin: 0 auto;
          width: 90%;

          .text {
            margin-top: 15%;
            text-align: justify;
            height: 25%;;
            font-size: 0.8vw;
            line-height: 150%;
            font-weight: bold;
          }

          .read-more {
            margin-top: 8%;
            font-size: 0.8vw;
            letter-spacing: 0vw;
            line-height: 1.25vw;
            font-weight: bold;
            text-align: left;
            text-decoration: underline;
            text-transform: uppercase;
          }

          .btn-contact {
            color: #fff;
            margin-top: 1.5625vw;
            margin-bottom: 2.08vw;
            font-size: 0.9375vw;
            font-family: "Roboto-Medium";
            text-transform: uppercase;
            width: 10.01vw;
            height: 2.8vw;
            border-radius: 1.459vw;
            background-image: linear-gradient(0deg, #046396 0%, #0075b7 100%);
            border: 0.1042vw solid #ffffff;
          }
        }
      }
    }

    .service-card-center {
      margin-top: -28%;
      padding-top: 38%;
    }

    @media screen and (max-width:991px) {
      .col-md-4 {
        width: 500px;
        max-width: 500px;
      }
      .service-card-center {
        margin-top: 0px;
        padding: 0px;
      }
      .service-card {
        margin-bottom: 10px;
        margin-top: 0px;
        padding-top: 0%;
        .info {
          margin-top: 0px;
          .title {
            font-size: 20px;
            margin-top: -150px;
          }

          .body {
            .text {
              font-size: 15px;
            }

            .read-more {
              margin-top: 20px;
              font-size: 18px;
            }

            .btn-contact {
              margin-top: 10px;
              margin-bottom: 12px;
              font-size: 16px;
              font-family: "Roboto-Regular";
              width: 195px;
              height: 40px;
              border-radius: 25px;
            }
          }
        }
      }
    }
  }
}
