#services {
  .services {
    .container {
      padding: 0px;
      margin-bottom: 7%;
    }

    .col-md-4 {
      padding: 1%;
    }

    .service-card {
      margin-top: -10%;
      border-radius:3rem;
      box-shadow: 0px 4px 7px rgba(0,62,92,0.69);
      background-image: linear-gradient(#4c9ecd, #0075b8);

      &:hover {
        background-image: linear-gradient(#a5c1d1, #4c9ecd);

        .info {
          .body {
            .btn-contact {
              background-image: linear-gradient(0deg, #3887b2 0%, #499bc9 100%);
            }
          }
        }
      }

      .info {
        padding-top: 90%;
        margin-top: 15%;
        margin-left: 10%;
        margin-right: 10%;
        color: #fff;

        p {
          font-family: "Roboto-Medium";
        }

        hr {
          border-top: 1px solid #fff;
          width: 116%;
          margin-left: -8%;
        }

        .title {
          width: 100%;
          text-align: center;
          text-transform: uppercase;
          font-size: 28px;
          letter-spacing: 1px;
          line-height: 48px;
          font-weight: bold;
        }

        .body {
          margin: 0 auto;
          width: 90%;

          .text {
            margin-top: 15%;
            text-align: justify;
            height: 25%;;
            font-size: 16px;
            line-height: 150%;
            font-weight: bold;
          }

          .read-more {
            margin-top: 8%;
            font-size: 16px;
            letter-spacing: 0px;
            line-height: 24px;
            font-weight: bold;
            text-align: left;
            text-decoration: underline;
            text-transform: uppercase;
          }

          .btn-contact {
            color: #fff;
            margin-top: 30px;
            margin-bottom: 40px;
            font-size: 18px;
            font-family: "Roboto-Medium";
            text-transform: uppercase;
            width: 195px;
            height: 55px;
            border-radius: 28px;
            background-image: linear-gradient(0deg, #046396 0%, #0075b7 100%);
            border: 2px solid #ffffff;
          }
        }
      }
    }

    .service-card-center {
      margin-top: 20%;
      .info {
        margin-top: 44%;
      }
    }

    @media screen and (max-width:991px) {
      .service-card {
        .info {
          .title {
            font-size: 23px;
            letter-spacing: 0px;
            line-height: 38px;
          }

          .body {
            .text {
              height: 240px;
            }

            .read-more {
              margin-top: 60px;
            }

            .btn-contact {
              margin-top: 15px;
              margin-bottom: 30px;
              font-size: 14px;
              font-family: "Roboto-Regular";
              width: 140px;
              height: 30px;
            }
          }
        }
      }

      .service-card-center {
        .info {
          .body {
            .text {
              height: 265px;
            }
          }
        }
      }
    }

    @media screen and (min-width: 992px) and (max-width:1199px) {
      .service-card {
        .info {
          .body {
            .btn-contact {
              margin-top: 20px;
              margin-bottom: 30px;
              font-size: 16px;
              width: 140px;
              height: 40px;
            }
          }
        }
      }

      .service-card-center {
        .info {
          .title {
            font-size: 23px;
            letter-spacing: 0px;
            line-height: 38px;
          }

          .body {
            .text {
              height: 200px;
            }
          }
        }
      }
    }
  }
}
