h1 {
  font-size: 60px;
  font-family: "BebasRegular";
  text-align: center;
}

h2 {
  font-size: 48px;
  font-family: "BebasRegular";
  text-align: center;
}

h3 {
  font-size: 36px;
  font-family: "BebasRegular";
}

h4 {
  font-size: 27px;
  font-family: "BebasRegular";
}

p {
  font-family: "BebasRegular";
  font-size: 18px;
}

ul {
  list-style: none;
  margin-top: 36px;
}

li {
  display: inline-block;
  font-family: "BebasRegular";
}

a {
  text-decoration: none;
  font-family: "BebasRegular";
  &:hover {
    text-decoration: none;
    font-family: "BebasRegular";
  }
  &:focus {
    text-decoration: none;
    font-family: "BebasRegular";
    color: #ffffff;
    outline: none;
  }
}

line, circle {
  &.dark-line {
    stroke: #646464;
    stroke-width: 1px;
  }
}

.logo {
  float: left;
  h3 {
    margin: 0;
    margin-top: 35px;
    color: #fefefe;
  }
  span {
    color: #a11819;
  }
}

header {
  background-image: asset-url("header-bg.png");
  background-repeat: repeat-x;
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;
}

.split-side {
  background-image: asset-url("header-bg.png");
  background-repeat: repeat-x;
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  padding: 130px;
  a {
    color: #ffffff !important;
    opacity: 0.3;
    &:hover {
      opacity: 1;
    }
  }
}

.header-nav {
  float: right;
}

.menu-item {
  font-family: "BebasRegular";
  color: #fefefe;
  font-size: 27px;
  padding: 0 7px 0 7px;
}

.header-nav a:hover {
  color: #a11819;
}

#touch-menu {
  background: asset-url("mobile-nav.png") no-repeat left;
  color: #fff;
  display: none;
  font-family: "BebasRegular";
  font-size: 18px;
  line-height: 40px;
  margin-top: 5px;
  text-align: center;
}

.header-nav.fixed {
  height: 50px;
  position: fixed;
  top: 0;
  background-color: #383838;
  z-index: 100;
  left: 0;
  ul {
    margin-top: 12px;
  }
}

@media (max-width: 992px) {
  .top_menu {
    display: none;
    li {
      display: block;
      height: 58px;
      position: relative;
      text-align: center;
    }
  }
  #touch-menu {
    display: block;
    text-align: center;
  }
  .top_menu {
    background-color: #383838;
    opacity: 0.9;
    padding: 0;
    margin: 0;
  }
  .header-nav.fixed ul {
    margin-top: 0;
  }
}

.welcome {
  text-align: center;
  color: #fefefe;
  margin-top: 225px;
  h1, h2 {
    margin: 0;
  }
}

.button {
  background-color: #ab1111;
  text-align: center;
  padding: 18px 5px 18px 5px;
}

.btn-about {
  margin-bottom: 100px;
}

.btn-header {
  margin-bottom: 135px;
  margin-top: 70px;
}

.button a {
  display: block;
  color: #fefefe;
  font-size: 24px;
}

.about-list li {
  display: block;
  font-size: 18px;
}

.clients {
  margin-bottom: 86px;
}

input {
  width: 100%;
  border: 2px solid #ffffff;
  background-color: #383838;
  margin-bottom: 12px;
  height: 45px;
  padding-left: 20px;
}

textarea {
  width: 100%;
  height: 195px;
  border: 2px solid #ffffff;
  background-color: #383838;
  padding: 12px 20px 12px 20px;
}

::-webkit-input-placeholder, ::-moz-placeholder, :-moz-placeholder, :-ms-input-placeholder {
  color: #ffffff;
  font-family: "BebasLight";
}

.btn-submit {
  background-color: #ab1111;
  border: 0;
  font-size: 24px;
  font-family: "BebasRegular";
  width: 165px;
  height: 57px;
  float: right;
  margin-top: 10px;
}

form {
  margin-bottom: 234px;
}

a.active {
  color: #a11819;
}

.mail-to {
  color: #ffffff;
  &:hover {
    text-decoration: underline;
    color: #ffffff;
  }
}

.split {
  background-color: #4a3d63;
  height: 200px;
}

.employee {
  height: 450px;
}

.btn-top {
  text-align: center;
  a {
    color: #ffffff;
  }
}
