#team {
  .team {
    background-color: #2d2d2d;
    color: #fff;
    padding-bottom: 7.03125vw;

    .section-left-text {
      margin-top: 8.85417vw;
      background-image: asset-url('team/rectangle.jpg');
      background-repeat: no-repeat;
      background-size: 75% 58%;

      .title {
        letter-spacing: 0.15625vw;
        line-height: 2.6042vw;

        p {
          font-size: 3.125vw;
        }

        .text-our {
          font-family: 'Roboto-Black';
        }

        .text-team {
          font-family: 'Roboto-Medium';
        }
      }

      .paragraph {
        padding-top: 2.6vw;
        width: 26.042vw;
        font-size: 1.25vw;
        line-height: 1.823vw;
        font-family: 'Roboto-Medium';
      }

      .horizontal-line {
        margin-top: 1.5625vw;
        border-top: solid #0075b8;
        width: 13.021vw;
      }
    }

    .faces {
      margin-top: 5.29vw;
      margin-left: 20%; 
      .flex-container {
        display: flex;
      }

      .flex-item {
        margin: 0.26vw;
        overflow: hidden;
        max-height: 13.542vw;
        flex-basis: 13.542vw;
        box-shadow: 0% 0.21vw 0.3646vw rgba(0,0,0,0.5);
        display: flex;

        .text {
          display: none;
          position: absolute;
          top: 4.4271vw;
          text-align: center;
          width: 100%;
          letter-spacing: 0.052vw;
          line-height: 1.5625vw;

          p {
            font-family: 'normal';
          }

          .name {
            font-size: 1.042vw;
            font-family: 'Roboto-Black';
            text-transform: uppercase;
          }

          .horizontal-line {
            border-top: 0.0521vw solid #fff;
            width: 65%;
            margin: 0 auto;
          }

          .specialization {
            font-size: 0.73vw;
            font-family: 'Roboto-Medium';
          }
        }
      }

      .rectangle-and-text-hover {
        &:hover {
          background-color: rgba(0, 117, 184, 0.8);

          .text {
            display: block;
          }
        }
      }

      .img-face {
        background-blend-mode: multiply;
        background-repeat: no-repeat;
        background-size: 13.542vw;
        height: 13.5417vw;
      }

    }

    @media screen and (max-width:991px) {
      .section-left-text {
        background-size: 95% 45%;

        .title {
          letter-spacing: 0px;
          line-height: 40px;

          .text-our {
            font-family: 'Roboto-Bold';
            margin-bottom: 0%;
          }

          .text-team {
            font-family: 'Roboto-Regular';
            margin-top: -10px;
          }
        }

        .paragraph {
          margin-top: 80%;
          line-height: 25px;
          font-family: 'Roboto-Light';
          width: 350px;
          font-size: 20px;
        }
      }

      .faces {
        position: relative;
        .flex-item {
          max-height: 300px;
          flex-basis: 300px;

          .text {
            top: 55px;
            letter-spacing: 0px;

            .name {
              font-family: 'Roboto-Bold';
            }

            .specialization {
              font-family: 'Roboto-Medium';
            }
          }
        }
      }
    }
  }
}
