#team {
  .team {

    background-color: #2d2d2d;
    color: #fff;
    padding-bottom: calc(135px * var(--font-size-offset));

    .slick-dots li button:before {
      color: white;
    }
    .slick-slide {
      outline: none;
    }

    .section-left-text {
      margin-top: calc(170px * var(--font-size-offset));
      background-image: asset-url('team/rectangle.jpg');
      background-repeat: no-repeat;
      background-size: 75% 58%;

      .title {
        letter-spacing: calc(10px * var(--font-size-offset));
        line-height: calc(50px * var(--font-size-offset));

        p {
          font-size: calc(60px * var(--font-size-offset));
        }

        .text-our {
          font-family: 'Roboto-Black';
        }

        .text-team {
          font-family: 'Roboto-Medium';
        }
      }

      .paragraph {
        padding-top: calc(62px * var(--font-size-offset));
        max-width: calc(550px * var(--font-size-offset)) !important;
        font-size: calc(24px * var(--font-size-offset));
        line-height: calc(35px * var(--font-size-offset));
        font-family: 'Roboto-Medium';
      }

      .horizontal-line {
        margin-top: calc(30px * var(--font-size-offset));
        border-top: solid #0075b8;
        width: calc(250px * var(--font-size-offset));
      }

      .slider-info-number-page {
        font-size: 18px;
        letter-spacing: 0px;
        line-height: 40px;
        font-family: 'Roboto-Medium';

        span {
          color: rgb(0,117,184);
        }
      }
    }

    .faces {
      margin-top: calc(160px * var(--font-size-offset));

      .flex-container {
        display: flex;
      }

      .col-xs-4 {
        padding: 1px;
        margin: 0px;
      }

      .flex-item {
        margin: calc(5px * var(--font-size-offset));
        overflow: hidden;
        height:   calc(250px * var(--font-size-offset));
        flex-basis: calc(250px * var(--font-size-offset));
        box-shadow: 0px 3px 4px rgba(0,0,0,0.5);
        display: flex;

        .text {
          display: none;
          position: absolute;
          top: calc(85px * var(--font-size-offset));
          text-align: center;
          width: 100%;
          letter-spacing: 1px;
          line-height: calc(30px * var(--font-size-offset));

          p {
            font-family: 'normal';
          }

          .name {
            font-size: calc(20px * var(--font-size-offset));
            font-family: 'Roboto-Black';
            text-transform: uppercase;
          }

          .horizontal-line {
            border-top: 1px solid #fff;
            width: 65%;
            margin: 0 auto;
          }

          .specialization {
            font-size: calc(14px * var(--font-size-offset));
            font-family: 'Roboto-Medium';
          }
        }
      }

      .rectangle-and-text-hover {
        &:hover {
          background-color: rgba(0, 117, 184, 0.8);

          .text {
            display: block;
          }
        }
      }

      .img-face {
        background-blend-mode: multiply;
        background-repeat: no-repeat;
        background-size: calc(225px * var(--font-size-offset));
        height: calc(225px * var(--font-size-offset));
      }
    }
  }
}
