.toastr {
  position: fixed;
  top: 45vh;
  left: 45vw;
  display: none;
  z-index: 100;
  font-size: 2vw;
  color: white;
  width: 10vw;
  height: 10vh;
  text-align: center;
  border-radius: 15px;
  background-color: rgba($color: gray, $alpha: 0.4);
}