.toastr {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 100;
  font-size: 3vh;
  font-family: "Roboto-Light";
  font-weight: bold;
  color: wheat;
  text-align: center;
  background-color: #242020;
}