@mixin technology-image-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#why-us {
  padding-left: 0;
  padding-right: 0;
  background-color: #f5f5f5;
  padding-bottom: calc(32px * var(--font-size-offset));
  overflow: hidden;

  .advantages-header {
    display: flex;
    flex-shrink: 0;

    h2 {
      font-size: calc(40px * var(--font-size-offset));
      text-transform: uppercase;
      text-align: left;
      color: #585858;
      font-family: 'Roboto';
      position: relative;
      display: inline;
      right: calc(8px * var(--font-size-offset));
      line-height: calc(48px * var(--font-size-offset));
    }

    .why-us-number {
      width: calc(312px * var(--font-size-offset));
      height: calc(210px * var(--font-size-offset));
      margin-bottom: calc(100px * var(--font-size-offset));
      text-shadow: 5px 6px 15px rgba(0, 0, 0, 0.15);
      color: #ffffff;
      font-family: Roboto;
      font-size: calc(315px * var(--font-size-offset));
      font-weight: bold;
      text-transform: uppercase;
      position: relative;
      top: calc(90px * var(--font-size-offset));
      margin-left: calc(-31px * var(--font-size-offset));
      margin-right: calc(-158px * var(--font-size-offset));
    }

    .image-why-us {
      background: url(image_path('why-us/layer_1.png')) no-repeat;
      width: calc(158px * var(--font-size-offset));
      background-size: calc(158px * var(--font-size-offset));
    }

    .advantages-line-w {
      border-bottom: 2px solid #bfbfbf;
      width:calc(300px * var(--font-size-offset));
      height: 2px;
      display: inline-block;
      position: relative;
      flex-shrink: 1;
      left: 0%;
      top: calc(246px * var(--font-size-offset));
    }
  }

  .advantages-body {
    padding-top: calc(46px * var(--static-font-size-offset));
    padding-left: calc(24px * var(--font-size-offset));

    .advantage-item {
      margin-bottom: calc(60px * var(--static-font-size-offset));

      span, p {
        position: relative;
        z-index: 2;
      }

      .img-and-title {
        display: inline-block;

        .title {
          top: calc(10px * var(--font-size-offset));
          color: #106a9f;
          text-transform: uppercase;
          font-weight: bold;
          font-size: calc(26px * var(--font-size-offset));
        }

        .title-2 {
          line-height: calc(35px * var(--font-size-offset));
        }

        .img-mb {
          margin-right: calc(12px * var(--font-size-offset));
          width: calc(90px * var(--font-size-offset));
        }

        .why-us-img-1 {
          width: 90px;
          height: 91px;
          background: image_url('why-us/css_sprites.png') -10px -10px;
      }

        .why-us-img-2 {
          width: 90px;
          height: 90px;
          background:image_url('why-us/css_sprites.png') -120px -10px;
        }
        
        .why-us-img-3 {
          width: 90px;
          height: 69px;
          background:image_url('why-us/css_sprites.png') -120px -121px;
      }

        .why-us-img-4 {
          width: 90px;
          height: 90px;
          background:image_url('why-us/css_sprites.png') -230px -10px;
        }

        .why-us-img-5 {
          width: 90px;
          height: 83px;
          background:image_url('why-us/css_sprites.png') -10px -121px;
        }
      }

      .text {
        font-family: 'Roboto-Bold';
        color: #6c7a89;
        font-size: calc(20px * var(--font-size-offset));
        letter-spacing: 0.44px;
      }

      .text-3 {
        text-indent: calc(103px * var(--font-size-offset));
        top: calc(-22px * var(--font-size-offset));
      }

      .text-1-4-5 {
        text-indent: calc(105px * var(--font-size-offset));
         top: calc(-25px * var(--font-size-offset));
      }

      .circle-format {
        width: calc(376px * var(--font-size-offset));
        height: calc(376px * var(--font-size-offset));
        position: absolute;
        left: calc(269px * var(--font-size-offset));
        top: calc(-176px * var(--font-size-offset));
        z-index: 1;
      }

      .statue {
        width: calc(750px * var(--font-size-offset));
        height: auto;
        position: relative;
        top: calc(-210px * var(--font-size-offset));
        left: calc(-160px * var(--font-size-offset));
        z-index: 2;
      }
    }

    .advantages-button {
      background-color: #f50808;
      border-radius: 28px;
      border: none;
      width: calc(195px * var(--font-size-offset));
      height: calc(55px * var(--font-size-offset));
      font-size: calc(18px * var(--font-size-offset));
      color: #fff;
      font-weight: bold;
      text-transform: uppercase;
      position: relative;
      left: 52%;
      z-index: 5;
      font-family: "Roboto-Bold";
      outline: none !important;
    }

    .advantages-button:hover {
      background-color: #ef4836;
      outline: none;
    }

    .underline {
      border-bottom: 2px solid #bfbfbf;
      width: 35%;
      height: 2px;
      display: inline-block;
      position: relative;
      top: calc(45px * var(--font-size-offset));
      flex-shrink: 1;
      transform: rotate(90deg);
      left: 25%;
    }
  }

  .container-with-img-statue {
    height: calc(500px * var(--font-size-offset));
  }

  .tech {
    padding-left: 90px;
    padding-right: 100px;
    padding-top: calc(170px * var(--static-font-size-offset));
    width: 100%;
    padding-bottom: 40px;

    .tech-container {
      display: flex;
      justify-content: space-between;
      width: calc(0.6px * var(--origin-width));
      max-width: calc(0.6px * var(--origin-width));
      margin: auto;
    }

    .tech-title {
      position: relative;
      margin-bottom: calc(54px * var(--static-font-size-offset));
      font-size: calc(35px * var(--font-size-offset));
      text-transform: uppercase;
      text-align: left;
      color: #585858;
      font-family: 'Roboto';
      background: #f5f5f5;
      padding: 0 11px;
    }

    button {
      background-color: #f5f5f5;
      border-radius: 50%;
      width: calc(88px * var(--font-size-offset));
      height: calc(88px * var(--font-size-offset));
      z-index: 4;
      outline: none !important;
      font-size: calc(35px * var(--font-size-offset));
      padding: calc(8px * var(--font-size-offset));
      border: 2px solid #0075b8;
      color: #0075b8;
    }

    button:hover {
      color: #fff;
      background-color: #0075b8;
    }

    .advantages-line-right {
      border-bottom: 2px solid #bfbfbf;
      width: 14%;
      height: 2px;
      display: inline-block;
      position: relative;
      top: calc(41px * var(--font-size-offset));
      left: calc(19px * var(--font-size-offset));
      flex-shrink: 1;
    }

    .advantages-line {
      border-bottom: 2px solid #bfbfbf;
      width: 35%;
      height: 2px;
      display: inline-block;
      position: relative;
      top: calc(41px * var(--font-size-offset));
      flex-shrink: 1;
    }

    .arrow-js-wrapper {
      display: flex;
      background-color: #f5f5f5;
      position: relative;
      margin-left: auto;
      align-items: center;
      margin-top: 7px;
    }

    .arrow-prev-js {
      margin-right: 30px;
    }
  }

  .technologies {
    width: 100%;
    background-color: #fff;
    position: relative;
    z-index: 4;

    .technologies-image-wrapper {
      position: relative;
      height: 200px;

      .bg-angular {
        @include technology-image-wrapper;
        width: 275px;
        height: 70px;
        background: url('why-us/technologies/technologies_sprites.png') -10px -116px;
      }

      .bg-coffee {
        @include technology-image-wrapper;
        width: 300px;
        height: 51px;
        background: url('why-us/technologies/technologies_sprites.png') -10px -371px;
      }

      .bg-ember {
        @include technology-image-wrapper;
        width: 275px;
        height: 86px;
        background: url('why-us/technologies/technologies_sprites.png') -10px -10px;
      }

      .bg-ionic {
        @include technology-image-wrapper;
        width: 205px;
        height: 69px;
        background: url('why-us/technologies/technologies_sprites.png') -245px -442px;
      }

      .bg-jquery {
        @include technology-image-wrapper;
        width: 275px;
        height: 70px;
        background: url('why-us/technologies/technologies_sprites.png') -305px -116px;
      }

      .bg-less {
        @include technology-image-wrapper;
        width: 150px;
        height: 71px;
        background: url('why-us/technologies/technologies_sprites.png') -625px -334px;
      }

      .bg-mongodb {
        @include technology-image-wrapper;
        width: 250px;
        height: 71px;
        background: url('why-us/technologies/technologies_sprites.png') -10px -206px;
      }

      .bg-my_sql {
        @include technology-image-wrapper;
        width: 150px;
        height: 78px;
        background: url('why-us/technologies/technologies_sprites.png') -625px -122px;
      }

      .bg-node {
        @include technology-image-wrapper;
        width: 150px;
        height: 92px;
        background: url('why-us/technologies/technologies_sprites.png') -625px -10px;
      }

      .bg-postgresql {
        @include technology-image-wrapper;
        width: 300px;
        height: 54px;
        background: url('why-us/technologies/technologies_sprites.png') -10px -297px;
      }

      .bg-rails {
        @include technology-image-wrapper;
        width: 200px;
        height: 70px;
        background: url('why-us/technologies/technologies_sprites.png') -10px -532px;
      }

      .bg-react {
        @include technology-image-wrapper;
        width: 250px;
        height: 70px;
        background: url('why-us/technologies/technologies_sprites.png') -280px -206px;
      }

      .bg-redux {
        @include technology-image-wrapper;
        width: 215px;
        height: 70px;
        background: url('why-us/technologies/technologies_sprites.png') -10px -442px;
      }

      .bg-sass {
        @include technology-image-wrapper;
        width: 125px;
        height: 94px;
        background: url('why-us/technologies/technologies_sprites.png') -625px -220px;
      }

      .bg-typescript {
        @include technology-image-wrapper;
        width: 300px;
        height: 72px;
        background: url('why-us/technologies/technologies_sprites.png') -305px -10px;
      }

      .bg-vue {
        @include technology-image-wrapper;
        width: 200px;
        height: 70px;
        background: url('why-us/technologies/technologies_sprites.png') -230px -532px;
      }

      .bg-react {
        @include technology-image-wrapper;
        width: 250px;
        height: 70px;
        background: url('why-us/technologies/technologies_sprites.png') -280px -206px;
      }
    }
  }
}
