@mixin technology-image-wrapper {
  margin: 0 5% 0 0

}

#why-us {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: calc(32px * var(--font-size-offset));
  overflow: hidden;

  .advantages-header {
    display: flex;
    flex-shrink: 0;
    width: 55%;
    justify-content: center;
    height: 170px;
    margin-top: 13%;

    h2 {
      font-size: calc(40px * var(--font-size-offset));
      text-transform: uppercase;
      text-align: left;
      color: #585858;
      font-family: 'Roboto';
      position: relative;
      display: inline;
      right: calc(8px * var(--font-size-offset));
      line-height: calc(48px * var(--font-size-offset));
    }

    .why-us-number {
      width: calc(312px * var(--font-size-offset));
      height: calc(210px * var(--font-size-offset));
      margin-bottom: calc(100px * var(--font-size-offset));
      text-shadow: 5px 6px 15px rgba(0, 0, 0, 0.15);
      color: #ffffff;
      font-family: Roboto;
      font-size: calc(315px * var(--font-size-offset));
      font-weight: bold;
      text-transform: uppercase;
      position: relative;
      top: calc(90px * var(--font-size-offset));
      margin-left: calc(-31px * var(--font-size-offset));
      margin-right: calc(-158px * var(--font-size-offset));
    }

    .advantages-line-w {
      border-bottom: 2px solid #bfbfbf;
      width:calc(300px * var(--font-size-offset));
      height: 2px;
      display: inline-block;
      position: relative;
      flex-shrink: 1;
      left: 0%;
      top: calc(246px * var(--font-size-offset));
    }
  }

  .image-why-us {
    background: url(image_path('why-us/layer_1.png')) no-repeat;
    background-size: calc(158px * var(--font-size-offset));
  }

  .advantages-body {
    margin-top: 5%;
    padding-top: calc(46px * var(--static-font-size-offset));
    padding-left: calc(24px * var(--font-size-offset));

    .advantages-content-block {
      display: flex;
      justify-content: space-between;
    }

    .block-height {
      height: 530px;
    }

    .advantages-content {
      width: 45%;
      margin-bottom: 3%;
    }

    .advantage-item {
      margin-bottom: calc(60px * var(--static-font-size-offset));

      span, p {
        position: relative;
        z-index: 2;
      }

      .img-and-title {
        display: inline-block;
        margin-bottom: 2%;

        .title {
          top: calc(10px * var(--font-size-offset));
          color: #106a9f;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 25px;
        }

        .title-2 {
          line-height: calc(35px * var(--font-size-offset));
        }

        .img-mb {
          margin-right: calc(12px * var(--font-size-offset));
          width: calc(90px * var(--font-size-offset));
        }

        .why-us-img-1 {
          width: 57px;
          height: 57px;
          background: image_url('why-us/nwe-css_sprites.png') -10px -10px;
      }

        .why-us-img-2 {
          width: 57px;
          height: 57px;
          background:image_url('why-us/nwe-css_sprites.png') -87px -87px;
        }
        
        .why-us-img-3 {
          width: 57px;
          height: 57px;
          background:image_url('why-us/nwe-css_sprites.png') -164px -10px;
      }

        .why-us-img-4 {
          width: 57px;
          height: 57px;
          background:image_url('why-us/nwe-css_sprites.png') -10px -87px;
        }

        .why-us-img-5 {
          width: 57px;
          height: 57px;
          background:image_url('why-us/nwe-css_sprites.png') -87px -10px;
        }
      }

      .text {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        line-height: 23px;
        font-size: 18px;
        text-align: justify;
        color: #5E5C5C;
      }

      .text-width {
        width: 79%;
      }

      .circle-format {
        width: calc(376px * var(--font-size-offset));
        height: calc(376px * var(--font-size-offset));
        position: absolute;
        left: calc(269px * var(--font-size-offset));
        top: calc(-176px * var(--font-size-offset));
        z-index: 1;
      }

      .statue {
        width: calc(750px * var(--font-size-offset));
        height: auto;
        position: relative;
        top: calc(-135px * var(--font-size-offset));
        left: calc(-160px * var(--font-size-offset));
        z-index: 2;
      }
    }

    .block-margin {
      margin-bottom: 5%;
    }

    .advantages-button {
      background-color: #f50808;
      border-radius: 28px;
      border: none;
      width: 160px;
      height: 41px;
      color: #fff;
      text-transform: uppercase;
      position: relative;
      left: 52%;
      z-index: 5;
      outline: none !important;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      font-size: 14px;
      text-transform: uppercase;
    }

    .advantages-button:hover {
      background-color: #ef4836;
      outline: none;
    }

    .underline {
      border-bottom: 2px solid #bfbfbf;
      width: 35%;
      height: 2px;
      display: inline-block;
      position: relative;
      top: calc(45px * var(--font-size-offset));
      flex-shrink: 1;
      transform: rotate(90deg);
      left: 25%;
    }
  }

  .container-with-img-statue {
    height: calc(500px * var(--font-size-offset));
  }

  .tech {
    display: flex;
    padding-left: 90px;
    padding-right: 0;
    width: 100%;
    background-image: asset-url('why-us/bg/backendBg.png');
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image .5s linear;


    .main {
      width: 70%;
      .tech-container {
        display: flex;
        justify-content: space-between;
        width: calc(0.6px * var(--origin-width));
        max-width: calc(0.6px * var(--origin-width));
        margin: 3% 0 5% 24%;
      }

      .blocks {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 90%;
        .part-block {
          margin: 0 5%;
        }
        .part {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          width: 248px;
          height: 100px;
          color: #FFFFFF;
          .text {
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            font-size: 20px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            margin: 8% 0 0 0;
          }
          .img-block {
            margin: 0 5% 0 15%;
            width: 55px;
            height: 47px;
            background-repeat: no-repeat;
            svg {
              stroke: white;
            }
          }
        }
        .part:hover {
          cursor: pointer;
        }
        .active {
          background: #FFFFFF;
          box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.07);
          border-radius: 7px;
          color: #0075B8;
          .img-block {
            width: 55px;
            height: 47px;
            background-repeat: no-repeat;
            svg {
              stroke: #0075B8;
              path {
                stroke: #0075B8;
              }
              rect {
                stroke: #0075B8;
              }
              circle {
                stroke: #0075B8;
              }
            }
          }
        }
      }
    }

    .tech-title {
      position: relative;
      margin-bottom: calc(54px * var(--static-font-size-offset));
      font-size: 30px;
      text-transform: uppercase;
      text-align: left;
      font-family: 'Roboto';
      padding: 0 11px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
      letter-spacing: 0.05em;
      color: #FFFFFF;
      text-shadow: 0px 4px 4px rgba(0, 49, 77, 0.1);
    }

    button {
      background-color: #f5f5f5;
      border-radius: 50%;
      width: calc(88px * var(--font-size-offset));
      height: calc(88px * var(--font-size-offset));
      z-index: 4;
      outline: none !important;
      font-size: calc(35px * var(--font-size-offset));
      padding: calc(8px * var(--font-size-offset));
      border: 2px solid #0075b8;
      color: #0075b8;
    }

    button:hover {
      color: #fff;
      background-color: #0075b8;
    }

    .advantages-line-right {
      border-bottom: 2px solid #bfbfbf;
      width: 14%;
      height: 2px;
      display: inline-block;
      position: relative;
      top: calc(41px * var(--font-size-offset));
      left: calc(19px * var(--font-size-offset));
      flex-shrink: 1;
    }

    .advantages-line {
      border-bottom: 2px solid #bfbfbf;
      width: 35%;
      height: 2px;
      display: inline-block;
      position: relative;
      top: calc(41px * var(--font-size-offset));
      flex-shrink: 1;
    }

    .arrow-js-wrapper {
      display: flex;
      background-color: #f5f5f5;
      position: relative;
      margin-left: auto;
      align-items: center;
      margin-top: 7px;
    }

    .arrow-prev-js {
      margin-right: 30px;
    }
  }

  .tech-beckend {
    background-image: asset-url('why-us/bg/backendBg.png');
  }
  .tech-front {
    background-image: asset-url('why-us/bg/frontendBg.png');
  }
  .tech-mobile {
    background-image: asset-url('why-us/bg/mobileBg.png');
  }
  .tech-blockchain {
    background-image: asset-url('why-us/bg/blockchainBg.png');
  }

  .technologies {
    height: 691px;
    width: 512px;
    background-color: #fff;
    position: relative;
    z-index: 4;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .technologies-block {
      width: 90%;
      margin: 5% 15%;
      display: flex;
      flex-direction: column;
      align-items: end;
    }

    .beck-end {
      display: block;
    }

    .front-end {
      display: none;
    }

    .mobile {
      display: none;
    }

    .blockchain {
      display: none;
    }

    .technologies-title {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      font-size: 22px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #646464;
    }

    .technologies-text {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      font-size: 16px;
      letter-spacing: 0.05em;
      color: #646464;
      margin: 0;
    }

    .technologies-image-wrapper {
      position: relative;
      height: 100px;
      display: flex;
      justify-content: end;
      align-items: center;
      width: 100%;

      .bg-angular {
        @include technology-image-wrapper;
        width: 55px;
        height: 42px;
        background: url('why-us/new-technogies/angular.svg') no-repeat;
      }

      .bg-bootstrap {
        @include technology-image-wrapper;
        width: 55px;
        height: 40px;
        background: url('why-us/new-technogies/bootstrap.svg') no-repeat;
      }

      .bg-graphql {
        @include technology-image-wrapper;
        width: 55px;
        height: 45px;
        background: url('why-us/new-technogies/graphQl.svg') no-repeat;
      }

      .bg-webpack {
        @include technology-image-wrapper;
        width: 55px;
        height: 45px;
        background: url('why-us/new-technogies/webpack.svg') no-repeat;
      }

      .bg-mongodb {
        @include technology-image-wrapper;
        width: 55px;
        height: 45px;
        background: url('why-us/new-technogies/Mongo.svg') no-repeat
      }

      .bg-node {
        @include technology-image-wrapper;
        width: 55px;
        height: 45px;
        background: url('why-us/new-technogies/nodeJs.svg') no-repeat
      }

      .bg-postgresql {
        @include technology-image-wrapper;
        width: 55px;
        height: 45px;
        background: url('why-us/new-technogies/postgres.svg') no-repeat;
      }

      .bg-amazon {
        @include technology-image-wrapper;
        width: 55px;
        height: 40px;
        background: url('why-us/new-technogies/amazon.svg') no-repeat;
      }

      .bg-docker {
        @include technology-image-wrapper;
        width: 55px;
        height: 45px;
        background: url('why-us/new-technogies/doker.svg') no-repeat;
      }

      .bg-rails {
        @include technology-image-wrapper;
        width: 55px;
        height: 45px;
        background: url('why-us/new-technogies/Rails.svg') no-repeat;
      }

      .bg-react-redux {
        @include technology-image-wrapper;
        width: 46px;
        height: 40px;
        background: url('why-us/new-technogies/React.svg') no-repeat;
      }

      .bg-react-native {
        @include technology-image-wrapper;
        width: 55px;
        height: 41px;
        background: url('why-us/new-technogies/react-native.svg') no-repeat;
      }

      .bg-flutter {
        @include technology-image-wrapper;
        width: 55px;
        height: 41px;
        background: url('why-us/new-technogies/flutter.svg') no-repeat;
      }

      .bg-ionic {
        @include technology-image-wrapper;
        width: 55px;
        height: 41px;
        background: url('why-us/new-technogies/ionic.svg') no-repeat;
      }

      .bg-hyperledger {
        @include technology-image-wrapper;
        width: 55px;
        height: 45px;
        background: url('why-us/new-technogies/hyperledger.svg') no-repeat;
      }

      .bg-ethereum {
        @include technology-image-wrapper;
        width: 55px;
        height: 45px;
        background: url('why-us/new-technogies/ethereum.svg') no-repeat;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #why-us {
    .advantages-header {
      margin-top: 5%;
      margin-left: 7%;
      h2 {
        font-size: 25px;
        padding-top: 5%;
      }
      .why-us-number {
        top: calc(30px * var(--font-size-offset));
        margin-bottom: calc(10px * var(--font-size-offset));
      }
    }
    .advantages-body {
      padding-left: 0;
      margin-top: 0;
      .advantages-button {
        left: 55%;
        top: calc(-140px * var(--font-size-offset))
      }
      .advantages-content-block {
        width: 85%;
        margin: 0 auto;
      }
      .advantage-item {
        .img-and-title {
          .title {
            font-size: 18px;
          }
        }
        .statue {
          width: calc(550px * var(--font-size-offset));
          top: calc(-128px * var(--font-size-offset));
          left: calc(-117px * var(--font-size-offset));
        }
      }
    }
    .tech {
      padding-left: 0;
      .tech-title {
        font-size: 25px;
      }
      .main {
        .blocks {
          width: 80%;
        }
        .tech-container {
          margin: 3% 0 5% 10%;
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  #why-us {
    .advantages-header {
      width: 90%;
      margin: 5% 6%;
      height: 10%;
      h2 {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        font-size: 20px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
      }
      .image-why-us {
        display: none;
      }
    }
    .advantages-body {
      padding-left: 0;
      width: 83%;
      margin: 0 auto;
      .advantages-content-block {
        flex-direction: column;
      }
      .advantages-content {
        width: 100%;
      }
      .advantage-item {
        .text {
          font-size: 15px;
        }
        .text-width {
          width: 100%;
        }
        .img-and-title {
          display: flex;
          align-items: center;
          .title {
            font-size: 18px;
          }
        }
      }
      .mobile-img {
        display: none;
      }
      .advantages-button {
        display: none;
      }
      .block-height {
        height: 50%;
      }
    }
    .tech {
      padding-left: 0;
      .tech-title {
        font-size: 20px;
      }
      .main {
        .tech-container {
          margin: 3% 0 5% 10%;
        }
        .blocks{
          margin: 25% 0;
          .part {
            width: 192px;
            height: 77px;
            margin: 5% 0;
            .text {
              font-size: 14px;
            }
          }
        }
      }
    }
    .technologies {
      width: 30%;
      .technologies-text {
        display: none;
      }
      .technologies-image-wrapper {
        justify-content: center;
      }
    }
    .image-why-us {
      background: none;
    }
  }
}
