#why-us {
  padding-left: 0;
  padding-right: 0;
  background-color: #f5f5f5;
  padding-bottom: calc(32px * var(--font-size-offset));
  overflow: hidden;

  .right-vertikal-line {
    border-right: 1px solid #bfbfbf;
  }

  .advantages-header {
    display: flex;
    flex-shrink: 0;

    h2 {
      font-size: calc(40px * var(--font-size-offset));
      text-transform: uppercase;
      text-align: left;
      color: #585858;
      font-family: 'Roboto';
      position: relative;
      display: inline;
      top: calc(205px * var(--font-size-offset));
      right: calc(8px * var(--font-size-offset));
      line-height: calc(48px * var(--font-size-offset));
    }

    .why-us-number {
      width: calc(312px * var(--font-size-offset));
      height: calc(210px * var(--font-size-offset));
      margin-bottom: calc(100px * var(--font-size-offset));
      text-shadow: 5px 6px 15px rgba(0, 0, 0, 0.15);
      color: #ffffff;
      font-family: Roboto;
      font-size: calc(315px * var(--font-size-offset));
      font-weight: bold;
      text-transform: uppercase;
      margin-top: calc(30px * var(--font-size-offset));
      position: relative;
      top: calc(90px * var(--font-size-offset));
      margin-left: calc(-31px * var(--font-size-offset));
      margin-right: calc(-158px * var(--font-size-offset));
    }

    .image-why-us { 
      background: url(image_path('why-us/layer_1.png')) no-repeat;
      width: calc(158px * var(--font-size-offset));
      background-size: calc(158px * var(--font-size-offset));
    }

    .advantages-line-w {
      border-bottom: 2px solid #bfbfbf;
      width:calc(300px * var(--font-size-offset));
      height: 2px;
      display: inline-block;
      position: relative;
      flex-shrink: 1;
      left: 0%;
      top: calc(246px * var(--font-size-offset));
    }
  }

  .advantages-body {
    padding-top: calc(46px * var(--font-size-offset));
    padding-left: calc(24px * var(--font-size-offset));

    .advantage-item {
      margin-bottom: calc(60px * var(--font-size-offset));

      span, p {
        position: relative;
        z-index: 2;
      }

      .img-and-title {
        display: inline-block;

        .title {
          top: calc(10px * var(--font-size-offset));
          color: #106a9f;
          text-transform: uppercase;
          font-weight: bold;
          font-size: calc(30px * var(--font-size-offset));
        }

        .title-2 {
          line-height: calc(35px * var(--font-size-offset));
        }

        .img-mb {
          margin-right: calc(12px * var(--font-size-offset));
          width: calc(90px * var(--font-size-offset));
        }
      }

      .text {
        font-family: 'Roboto-Bold';
        color: #6c7a89;
        font-size: calc(20px * var(--font-size-offset));
        letter-spacing: 0.44px;
      }

      .text-3 {
        text-indent: calc(103px * var(--font-size-offset));
        top: calc(-22px * var(--font-size-offset));
      }

      .text-1-4-5 {
        text-indent: calc(105px * var(--font-size-offset));
         top: calc(-25px * var(--font-size-offset));
      }

      .circle-format {
        width: calc(376px * var(--font-size-offset));
        height: calc(376px * var(--font-size-offset));
        position: absolute;
        left: calc(269px * var(--font-size-offset));
        top: calc(-176px * var(--font-size-offset));
        z-index: 1;
      }

      .statue {
        width: calc(750px * var(--font-size-offset));
        height: auto;
        position: relative;
        top: calc(-210px * var(--font-size-offset));
        left: calc(-160px * var(--font-size-offset));
        z-index: 3;
      }
    }

    .advantages-button {
      background-color: #f50808;
      border-radius: 28px;
      border: none;
      width: calc(195px * var(--font-size-offset));
      height: calc(55px * var(--font-size-offset));
      font-size: calc(18px * var(--font-size-offset));
      color: #fff;
      font-weight: bold;
      text-transform: uppercase;
      position: relative;
      left: 52%;
      bottom: calc(150px * var(--font-size-offset));
      z-index: 5;
      font-family: "Roboto-Bold";
      outline: none !important;
    }

    .advantages-button:hover {
      background-color: #ef4836;
      outline: none;
    }

    .underline {
      border-bottom: 2px solid #bfbfbf;
      width: 35%;
      height: 2px;
      display: inline-block;
      position: relative;
      top: calc(45px * var(--font-size-offset));
      flex-shrink: 1;
      transform: rotate(90deg);
      left: 25%;
    }
  }

  .container-with-img-statue {
    height: calc(500px * var(--font-size-offset));
  }

  .tech {
    padding-top: calc(170px * var(--font-size-offset));
    width: 100%;
    display: flex;

    .tech-title {
      position: relative;
      margin-bottom: calc(54px * var(--font-size-offset));
      font-size: calc(35px * var(--font-size-offset));
      text-transform: uppercase;
      text-align: left;
      color: #585858;
      font-family: 'Roboto';
    }

    button {
      background-color: #f5f5f5;
      border-radius: 50%;
      width: calc(88px * var(--font-size-offset));
      height: calc(88px * var(--font-size-offset));
      z-index: 4;
      outline: none !important;
      font-size: calc(35px * var(--font-size-offset));
      padding: calc(8px * var(--font-size-offset));
      border: 2px solid #0075b8;
      color: #0075b8;
    }

    button:hover {
      color: #fff;
      background-color: #0075b8;
    }

    .advantages-line-right {
      border-bottom: 2px solid #bfbfbf;
      width: 14%;
      height: 2px;
      display: inline-block;
      position: relative;
      top: calc(41px * var(--font-size-offset));
      left: calc(19px * var(--font-size-offset));
      flex-shrink: 1;
    }

    .advantages-line {
      border-bottom: 2px solid #bfbfbf;
      width: 35%;
      height: 2px;
      display: inline-block;
      position: relative;
      top: calc(41px * var(--font-size-offset));
      flex-shrink: 1;
    }

    .arrow-prev-js {
      margin-right: 30px;
    }
  }

  .technologies {
    width: 100%;
    height: calc(200px * var(--font-size-offset));
    background-color: #fff;

    img {
      margin:0 auto;
      margin-top: calc(60px * var(--font-size-offset));
      width: auto;
      height: calc(70px * var(--font-size-offset));
    }
  }

  @media screen and (min-width: 768px) and (max-width:991px) {
    .advantages-header {
      h2 {
        font-size: 25px;
        height: 70px;
        top: 205px;
        line-height: 30px;
      }

      .advantages-line-w {
        width: 150px;
        left: 3%;
      }
    }

    .advantages-body {
      .advantage-item {
        .img-and-title {
          .title {
            font-size: 18px;
          }

          .title-2 {
            line-height: 24px;
          }

          .img-mb {
            width: 60px;
          }
        }

        .text {
          font-size: 15px;
        }

        .text-3 {
          text-indent: 73px;
          top: -15px;
        }

        .text-1-4-5 {
          text-indent: 73px;
          top: -20px;
        }

        .statue {
          width: 550px;
        }
      }

      .underline {
        width: 55%;
        top: 52px;
        transform: rotate(90deg);
        left: 9%
      }
    }

    .container-with-img-statue {
      height: 400px;
    }

    .technologies {
      height: 110px;

      img {
        margin-top: 30px;
        height: 50px;
      }
    }
  }

  @media screen and (min-width: 992px) and (max-width:1199px) {
    .advantages-header {
      h2 {
        font-size: 25px;
        height: 100px;
        line-height: 43px;
      }
    }

   .advantages-body {
     .advantage-item {
       .img-and-title {
         .title {
           font-size: 25px;
         }

         .title-2 {
           line-height: 27px;
         }

         .img-mb {
           width: 70px;
         }
       }

        .text {
          font-size: 17px;
        }

        .text-3 {
          text-indent: 83px;
          top: -15px;
        }

        .text-1-4-5 {
          text-indent: 85px;
           top: -20px;
        }

        .statue {
          width: 700px;
        }
      }

      .underline {
        width: 40%;
        top: 52px;
        transform: rotate(90deg);
        left: 21%
      }
    }

    .tech .tech-title {
      font-size: 25px;
      top: 15px;
    }

    .container-with-img-statue {
      height: 400px;
    }

    .technologies {
      height: 110px;

      img {
        margin-top: 30px;
        height: 50px;
      }
    }
  }
}
